/*
***备注***
***class 名称中只能出现小写字符和破折号（例如，.btn 和 .btn-danger）
***基于最近的父 class 或基本（base） class 作为新 class 的前缀。
*/

body {
font-family: \5FAE\8F6F\96C5\9ED1,Tohoma;
}

.clearfix:after {
    clear: both
}

.clearfix:before {
    display: block; 
    height: 0px; 
    VISIBILITY: hidden; 
    CONTENT: "."
}

.clearfix:after {
    display: block;
    height: 0px;
    VISIBILITY: hidden;
   /* CONTENT: "."*/
}


#header {
    height: 25px;
    color: white;
    text-align: center;
    background-color: #776677;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
}

#design_menu {
    background-color: #F0F0F0;
    width: 100%;
    -khtml-box-shadow:  0px 1px 1px #888888;
      -moz-box-shadow:  0px 1px 1px #888888;
       -ms-box-shadow:  0px 1px 1px #888888;
        -o-box-shadow:  0px 1px 1px #888888;
           box-shadow:  0px 1px 1px #888888;  
    padding: 0;
}

#design_menu .navbar {
    margin-bottom: 0;
}

#design_menu #design_menu_ico{
    background: #eee;
padding: 5px 10px;
}

#dbinfo_bar label {
    background-color: #DCDCDC;
    width: 100%;
}

#dbinfo_bar,
/*#design_panel,*/
/*#draw_workplace, */
#filter_box {
    float: left;
}

#design_panel {
padding: 0 5px 0 0;
margin-left: 161px;
}

#design_panel {
    border-top: 1px solid #ddd;
}

#dbinfo_bar {
    padding: 0;
    border-right: 1px solid #ddd;
}

#design_panel {
    /*padding: 5px;*/
}

#design_panel .panel,
#filter_box .panel {
    margin: 3px;
}

#draw_workplace {
    margin: 3px 0 3px 166px;
}

#dbinfo_bar .panel {
    margin: 0;
    border-radius: 0;
    border: none;
}

#dbinfo_bar .panel-heading,
#filter_box .panel-heading {
    min-width: 120px;
    padding: 3px 15px;
}

#filter_box .panel-body {
    min-height: 60px;
    padding: 8px;
}

#work_area {
    background-color: #E7E7E7;
}

#design_menu .navbar {
    min-height: 30px;
}

#design_menu_option >ul > li > a ,
#intelligent_display a {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #333;
    background-color: transparent;
    text-decoration: none;
}

.design-column,
.design-row {
    height: 27px;
    background-color: white;
    margin-bottom: 12px;
    margin-top: 2px;
    border-top-left-radius: 8px;
/*    overflow: hidden;*/
}

.design-column>div,
.design-row>div {
    float:left;
}

.design-column>div:first-child,
.design-row>div:first-child {
    border-right: 1px solid transparent;
    width: 75px;
    text-align: center;
    line-height: 25px;
    color: #333;
    border-color: #ddd;
    border-top-left-radius: 8px;
    background-color: #F2F2F0;
}

#design_menu_ico button {
    
}

#filter_box .panel-heading {
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #F3EAEA 100%);
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #F3EAEA 100%);
}

#dimensions,
#measures {
    overflow: hidden;
}

#filter_box .panel,
#dbinfo_bar .panel {
    width: 160px;
}

#footer {
    -khtml-box-shadow: 0 0px 0px 0.5px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 0px 0px 0.5px rgba(0, 0, 0, 0.5);
       -ms-box-shadow: 0 0px 0px 0.5px rgba(0, 0, 0, 0.5);
        -o-box-shadow: 0 0px 0px 0.5px rgba(0, 0, 0, 0.5);
           box-shadow: inset 0 0px 0px 0.5px rgba(0, 0, 0, 0.5);
    height: 18px;
    border-top: 1px solid #888888;
    background-color: #F0F0F0;
}

#box_sign {
    width: 142px;;
    height: 30px;
}


#info_workplace {
    display: block;
}

#design_panel {
    overflow: hidden;
}

#info_workplace {
    height: 28px;
    border-top: 1px solid #ddd;
    background-color: white;
    line-height: 28px;
    padding: 0 10px;
    margin-left: 161px;
}

#info_workplace>span {
    border: 1px solid #ddd;
    padding: 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #FCFFFA;
    cursor: default;
    margin-right: 5px;
}

#info_workplace>span>span {
    text-align: center;
    width: 80px;
    display: inline-block;
}

#info_workplace>span>input {
    text-align: center;
    width: 80px;
    border:none;
    height:28px;
}

#design_panel {
    position: relative;
}

.filter-con-list label {
    display:block;
    margin-bottom: 0px;
}


.filter-con-list label input {
    margin-right: 5px;
}

#filter_convention {
    padding: 10px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.filter-con-list {
    max-height: 300px; 
    overflow-y: scroll; 
    border: 1px solid #ddd;
    padding: 10px;
}

.filter-con-bton {
    padding:10px 0px;
}

.filter-con-bton label {
    float:right;
}

#filter_convention .panel {
    margin-bottom: 0;
}

#filter_modal .modal-body {
    padding-bottom: 0;
}

.filter-con-list label:hover {
    background-color: #F1F0F0;
}

.filter-con-list label:hover {
    background-color: #F1F0F0;
}

#x_sortable ,
#y_sortable { 
    list-style-type: none;
     margin: 0; 
     padding: 0; 
 }

#x_sortable>li ,
#y_sortable>li { 
    margin: 1px 0 1px 1px;
    border-radius: 6px;
    padding: 0px;
    float: left;
    width:160px;
    height: 23px;
    text-align: center;
    background: none;
    transition: background-color 0.3s ,border 0.3s;
    -moz-transition: background-color 0.3s, border 0.3s;
    -webkit-transition: background-color 0.3s, border 0.3s;
    -o-transition: background-color 0.3s, border 0.3s;
/*    overflow: hidden;*/
    position: relative;
}

#x_sortable>li[type='mension'] ,
#y_sortable>li[type='mension'] { 
    background-color: #C9DBF5;
    border: 1px solid #C9DBF5;
}

#x_sortable>li[type='timesion'] ,
#y_sortable>li[type='timesion'] { 
    background-color: #C9DBF5;
    border: 1px solid #C9DBF5;
}

#x_sortable>li[type='measure'] ,
#y_sortable>li[type='measure'] { 
    background-color: #E0E7CB;
    border: 1px solid #CAD8B7;
}

#x_sortable>li:hover[type='mension'],
#y_sortable>li:hover[type='mension'] { 
    background-color: #CAE4FC;
    border: 1px solid #AA9DEB;
}

#x_sortable>li:hover[type='timesion'],
#y_sortable>li:hover[type='timesion'] { 
    background-color: #CAE4FC;
    border: 1px solid #AA9DEB;
}

#x_sortable>li:hover[type='measure'],
#y_sortable>li:hover[type='measure'] { 
    background-color: #E1EBC5;
    border: 1px solid #45E759;
}

#filter_tag_choosed li[type='mension'] {
   background-color: #E5F1FB;
    border-radius: 5px;
    border: 1px solid #CCC5EC;
    margin-top: 14px;
}

#filter_tag_choosed li[type='measure'] {
    border-radius: 5px;
    background-color: #E1EBC5;
    border: 1px solid #45E759;
    margin-top: 14px;
}


#x_sortable,
#y_sortable {
height: 25px;
}

#mensions_list,#measures_list {
list-style-type: none;
}

#mensions_list li,
#measures_list li,
#db_name {
    padding-left: 10px;
    border: 1px solid #fff;;
    cursor: default;
}

#mensions_list>li,
#measures_list>li,
#db_name {
    height: 25px;
    overflow: hidden;
    line-height: 25px;
}

#mensions_list li:hover {
    background-color: #E5F1FB;
    border-radius: 5px;
    border: 1px solid #CCC5EC;
}

#measures_list li:hover {
    border-radius: 5px;
    background-color: #E0E7CB;
    border: 1px solid #CAD8B7;
}

#using_db_name ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.dragging-li-measure {
    margin: 1px 0 1px 1px;
    border-radius: 6px;
    padding: 0;
    float: left;
    width: 150px;
    height: 23px;
    text-align: center;
    background: none;
    background-color: #E0E7CB;
    border: 1px solid #CAD8B7;
    overflow: hidden;
}

.dragging-li-mension {
     margin: 1px 0 1px 1px;
    border-radius: 6px;
    padding: 0;
    float: left;
    width: 150px;
    height: 23px;
    text-align: center;
    background: none;
    background-color: #C9DBF5;
    border: 1px solid #C9DBF5;

    overflow: hidden;
}

#y_sortable,
#x_sortable {
    cursor:default;
}


.dragging-custom {
    border:1px solid #E7E7E7;
}

.dragging-change-border {
    -khtml-box-shadow:  0px 1px 1px rgb(121, 224, 121);
      -moz-box-shadow:  0px 1px 1px rgb(121, 224, 121);
       -ms-box-shadow:  0px 1px 1px rgb(121, 224, 121);
        -o-box-shadow:  0px 1px 1px rgb(121, 224, 121);
        box-shadow: 0px 1px 1px rgb(121, 224, 121);
        border: 1px solid rgb(121, 224, 121) !important;
}

#mensions_list,
#measures_list {
    padding:10px 0 0 0;
    margin:0 0 0 0;
    overflow-y: auto;
}

.plots_close:hover,
.plots_close:focus,
.filter-close:hover,
.filter-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

button.plots_close,
button.filter-close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    margin:0;
}

.plots_close,
.filter-close {
    float: right;
    font-weight: bold;
    font-size: 21px;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    position: absolute;
    right: 2px;
}

.number-filter-content {
    border:1px solid #ddd;
}

.number-filter-content ul {
    list-style-type: none;
    padding:0;
    margin-bottom: 0;
}

#number_filter div:first-child {
    padding-bottom: 15px;
}

.number-filter-content hr {
    padding:0;
    margin:0;
}

.number-filter-content li {
    padding:3px 0 3px 20px;
    border: 1px solid #ffffff;
}

.number-filter-content ul li:first-child {
    font-weight: bold;
}

.number-filter-content li:hover {
    background-color: #E2EFFF;
    border-radius: 5px;
    border: 1px solid #CCC5EC;
}

#draw_panel{
    background-color: white;
}


.intelligent-display {
    float: right !important;
    position:relative;

}

.intelligent-display>a {
    margin-top: 8px;
    padding: 2px 65px !important;
    margin-right: 25px;
    cursor: pointer;
    background-color: #F4F6FF;
    border: 1px solid #AAA7AF;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: move;
    z-index: 99;
}

.intelligent-display-name:hover {
    background-color: #F4F6FF !important;
}

.intelligent-display-pic {
    position:absolute;
    width: 186px;
    height: 300px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 2px #888888;
    top: 100%;
    z-index: 99;
    left: 1px;
    display: none;
}

.intelligent-display>div>button {
    background: transparent;
    font-size: 10px;
    height: 30px;
    width: 50px;
    margin: 10px 0px 0px 6px;
}

.intelligent-display>div>div {
    padding:15px;
}


#design_menu_option .menu-ul a {
    padding: 15px 50px;
}

.menu-home {
    padding: 15px 50px !important;
}

#filter_tag .dropdown {
    display: inline-block;
    height: 36px;
    margin: 5px 5px 0px 0;
}

#filter_tag .dropdown>button ,
#filter_tag .minicolors>button {
    background: transparent;
    font-size: 10px;
    width: 142px;
    margin: 8px 5px 0px 0;
    padding: 6px 0;
}

.minicolors {
    margin-right: 4px;
}

.ui-slider {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border: 1px solid #aaaaaa;
    color: #222222;
    background: #ffffff repeat-x;
    position: relative;
    text-align: left;
}

.ui-slider-range {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    top: 0;
    height: 100%;
    left: 0;
    border: 1px solid #aaaaaa;
    background: #cccccc repeat-x;
    color: #222222;
    font-weight: bold;
}

.ui-slider-handle {
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #555555;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

#draw_panel {
    overflow: auto;
}



/*body {
    font-family: "Microsoft Yahei", "LiHei Pro", "SimSun", Helvetica, Arial, sans-serif !important;
}*/

#show_area {
    display: none;
}

#show_area_bar {
    float: left;
    width: 161px;
    overflow: auto;
    border-right:1px solid #888888;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

#show_area_panel {
    margin-left: 161px;
    position: relative;
}

#scene_design_right {
    overflow: auto;
}

#filter_body ul {
    list-style-type: none;
    padding:0;
    margin:0;
}

#filter_body {
    padding:5px 0 !important;
}

#filter_body>ul>li {
    padding: 0 0 0px 10px;
    border: 1px solid #CCC5EC;
    background-color: #E5F1FB;
    border-radius: 5px;
}

#filter_body>ul>li:hover {
    border: 1px solid #A9A3C9;
}


#filter_body ul li {
    position: relative;
    margin: 3px 0;
}

#info_workplace input { 
    display: none;
}

#filter_body b , 
#draw_plots b {
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
    opacity: 0.1;
    display: block;
}

#filter_body b:hover , 
#draw_plots b:hover {
    opacity: 0.8;
}

#filter_body .dropdown-menu ,
#draw_plots .dropdown-menu {
    top:115%;
}

#dbinfo_bar b[data-toggle="dropdown"] {
    display:none;
}

#draw_plots .dropdown-menu {
    min-width: 148px;
}

.coordinate-measure ul {
    position: absolute;
    list-style: none;
    background-color: white;
    left: 146px;
    width: 150px;
    top: 30px !important;
    padding: 0;
    display: none;
}

.coordinate-measure>a {
    position: relative;
}

.coordinate-measure>a>span {
    position: absolute;
    top: 6px;
    right: 6px;
}

#filter_tag_choosed {
    list-style: none;
    margin: 10px 0 20px 0px;
    padding: 0;
}

#filter_tag .close{
    padding: 0;
    font-size: 18px;
    margin: 2px 2px 0 0;
}

#graph_bar {
    background-image: url(../images/bar.png);
}

#graph_line {
    background-image: url(../images/line.png);
}

#graph_scatter {
    background-image: url(../images/scatter.png);
}

#graph_pie {
    background-image: url(../images/pie.png);
}

#stack_bar {
    background-image: url(../images/stack_bar.png);
}

#stack_line {
   background-image: url(../images/stack_line.png);
}

#graph_area {
    background-image: url(../images/area.png);
}

#stack_area {
    background-image: url(../images/stack_area.png); 
}

#graph_radar {
    background-image: url(../images/radar.png);
}

#china_map {
    background-image: url(../images/china-map.png);
}

#world_map {
    background-image: url(../images/world-map.png);
}

#graph_bar ,
#graph_line ,
#graph_scatter ,
#graph_pie ,
#stack_bar ,
#graph_area ,
#stack_area ,
#stack_line ,
#graph_radar ,
#china_map ,
#world_map {
    background-repeat: no-repeat;
    background-size: 50px 30px;
}

#graph_pie:hover ,
#graph_bar:hover ,
#graph_line:hover ,
#graph_scatter:hover ,
#stack_bar:hover ,
#stack_line:hover ,
#graph_area:hover ,
#stack_area:hover ,
#graph_radar:hover ,
#china_map:hover ,
#world_map:hover {
    background-position:0 0;
    background-color:white;
}

.choosed-chart-style {
    background-color: #e0e0e0 !important;
    text-decoration: none !important;
    color: #333 !important;
    border: 1px solid #95AEDA !important;
    background-position:0 0 !important;
}

#graph_bar.choosed-chart-style {
     background-image: url(../images/bar-hover.png);
}

#graph_line.choosed-chart-style {
     background-image: url(../images/line-hover.PNG);
}

#graph_scatter.choosed-chart-style {
     background-image: url(../images/scatter-hover.PNG);
}

#graph_pie.choosed-chart-style {
     background-image: url(../images/pie-hover.PNG);
}

#loading_img {
    width: 35px;
    margin: 0 10px;
}

#table_name ul {
    margin-bottom: 0px;
    list-style: none;
    padding: 5px 0;
    max-height: 112px;
    overflow-y: auto;
}

#table_name ul li {
    padding: 3px 0 3px 10px;
    height: 25px;
    overflow: hidden;
    border: 1px solid #fff;
    cursor: default;
}

#table_name ul li:hover {
    background-color: #FFF7F8;
    border-radius: 5px;
    border: 1px solid #F0C1D3;
}

#design_menu_option ul {
    list-style: none;
    margin-bottom: 0;
}

#design_menu_option>ul>li {
    float:left;
    padding: 2px 15px 0 15px;
}

/*#design_menu_option {
    background-image: -webkit-linear-gradient(top, #fff 0%, #f8f8f8 100%);
    background-image: linear-gradient(to bottom, #fff 0%, #f8f8f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
    margin-bottom: 0;
    height: auto;
    min-height: 30px;
    position: relative;
    border: 1px solid transparent;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}*/

#intelligent_display {
    padding: 10px 0 0 0 !important;
}

#easyDialogTitle {
    margin: 0 !important; 
}

#choosed_chart hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.hover-toolbar{
  position: absolute;
bottom: 58px;
right: 8px;
width: 330px;
height: 50px;
background: #eee;
padding: 10px 32px;
border: 1px solid #bbb;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
cursor: move;
}

#dbinfo_bar .axes-math {
    display: none;
}


