<script type="text/template">
<div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="new_table_title">新建数据表</h4>
      </div>

      <div class="modal-body">
        <p>请选择新建数据表的方式：</p>
        <div class="dialog-new-table-content clearfix">
        	<div class="dialog-new-table-db"><p>通过连接第三方数据库</p><p>（需要输入账号密码）</p></div>
        	<div class="dialog-new-table-file"><p>通过导入数据文件</p><p>(csv,excel等)</p></div>
        </div>
      </div>
</div>
</script>