<script type="text/template">
<div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="table_manage_title">数据表管理</h4>
      </div>

      <div class="modal-body table-manage-content clearfix">
      <p id="table_manage_new"><a href="#">新建数据表</a></p>
      <ul id="table_manage_ul">
      <% _.each(items, function(item){ %>
           <li><input data-id="<%= item.id %>" class="manageCheckbox" type="checkbox" <% if(item.selected) { %> checked="true" <% } %> /><%= item.tableName %></li>
      <% }); %>
      </ul>
      </div>

      <div class="modal-footer">
      <div class="table-manage-operate">
      	<a class="table-manage-all" href="#">全选</a>
      	<a class="table-manage-none" href="#">全不选</a>
      </div>
      	<button type="button" class="btn btn-primary table-manage-commit">确定</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>

</div>
</script>