<script type="text/template">
<div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="table_manage_title">数据表管理</h4>
      </div>

      <div class="modal-body table-manage-content clearfix">
        <div class="table-manage-unselect">
          <p>未选中</p>
          <select multiple="multiple">
            <% _.each(items, function(item){ %>
              <% if(!item.selected) { %>
                 <option value ="<%= item.id %>"> <%= item.tableName %> </option>
              <% } %>
            <% }); %>
          </select>
        </div>
        <div class="table-manage-operate">
          <button id="table_manage_choosed" type="button" class="btn btn-info">>></button> 
          <button id="table_manage_unchoosed" type="button" class="btn btn-info"><<</button> 
        </div>
        <div class="table-manage-select">
            <p>选中</p>
            <select multiple="multiple">
            <% _.each(items, function(item){ %>
               <% if(item.selected) { %>
                 <option value ="<%= item.id %>"> <%= item.tableName %> </option>
              <% } %>
            <% }); %>
            </select>
            <p id="table_manage_new"><a href="#">新建数据表</a></p>
          </div>
      </div>

      <div class="modal-footer">
      	<button type="button" class="btn btn-primary table-manage-commit">确定</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>

</div>
</script>