<div id="using_db_name" class="panel panel-default">
    <div class="panel-heading">数据</div>
    <!--<div id="db_name"><%= model.name %></div>-->
    <ul>
        <li id="db_name" draggable="true" class="ui-state-highlight"><%= model.name %></li>
    </ul>
</div>

<div id="dimensions" class="panel panel-default">
    <div class="panel-heading">维度</div>
    <ul id="mensions_list" class="panel-body">
		<% _.each(model.dm, function(v, k) { %> 
            <li class="mension ui-state-highlight coordinate" >
            <m></m>
            <span class='attr'><%= k %></span>
            <b data-toggle='dropdown' class='glyphicon glyphicon-plus-sign dropdown-toggle'></b>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li class="coordinate-filter"><a href="#">筛选</a></li>
                <li class="coordinate-measure">
                    <a href="#">度量<span class="glyphicon glyphicon-play"></span></a>
                    <ul class="dropdown-menu"> 
                        <li class="coordinate-max"><a href="#">最大值</a></li>
                        <li class="coordinate-min"><a href="#">最小值</a></li>
                        <li class="coordinate-count"><a href="#">计数</a></li>
                    </ul>
                </li>
                <li class="coordinate-remove"><a href="#">移除</a></li>
            </ul>
            </li>
         <% }); %>
    </ul>
</div>

<div id="measures" class="panel panel-default">
    <div class="panel-heading">度量</div>
    <ul id="measures_list"  class="panel-body">
        <% _.each(model.me, function(v, k) { %> 
            <li class="measure coordinate" draggable="true">
            <m></m>
            <span class='attr'><%= k %></span>
            <b data-toggle='dropdown' class='glyphicon glyphicon-plus-sign dropdown-toggle'></b>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li class="coordinate-filter"><a href="#">筛选</a></li>
                <li class="coordinate-measure">
                    <a href="#">度量<span class="glyphicon glyphicon-play"></span></a>
                    <ul class="dropdown-menu">
                        <li class="coordinate-sum"><a href="#">求和</a></li>
                        <li class="coordinate-avg"><a href="#">平均值</a></li>
                        <li class="coordinate-count"><a href="#">计数</a></li>
                        <li class="coordinate-max"><a href="#">最大值</a></li>
                        <li class="coordinate-min"><a href="#">最小值</a></li>
                    </ul>
                </li>
                <li class="coordinate-remove"><a href="#">移除</a></li>
            </ul>
            </li> 
        <% }); %>
    </ul>
</div>
