
 <div class="panel panel-default dragging-custom" id="filter_page">
        <div class="panel-heading">页面</div>
        <div class="panel-body" id="filter_body" ondragover="return false"> </div>
    </div>
    <div class="panel panel-default dragging-custom" id="filter_conditions">
        <div class="panel-heading">筛选器</div>
        <div class="panel-body" id="filter_body" ondragover="return false"><ul></ul></div>
    </div>
    <div class="panel panel-default dragging-custom" id="filter_tag">
        <div class="panel-heading">标记</div>
        <div class="panel-body" style="min-height: 200px;">
            <form class="form-horizontal">
                <div class="control-group">
                    <div class="controls">
                        <select id="box_sign">
                            <option>自动</option>
                            <option>条形图</option>
                            <option>方形</option>
                            <option>圆</option>
                            <option>多边形</option>
                        </select>
                    </div>
                </div>
            </form>
            <span class="form-group">
                 <button id="filter_tag_color" ondragover="return false" value="#1F77B4" data-opacity="1" class="form-control colorBoard" data-control="hue">颜色</button>
            </span>

            <span class="dropdown">
                 <button type="button" id="filter_tag_size" ondragover="return false" class="dropdown-toggle btn btn-default" data-toggle="dropdown">大小</button>
                <div class="dropdown-menu">
                    <div id="master" style="width:260px; margin:15px;"></div>
                </div>
            </span>
           
            <span class="dropdown">
                 <button type="button" class="dropdown-toggle btn btn-default" data-toggle="dropdown">文本</button>
                <div class="dropdown-menu">
                    文本
                </div>
            </span>
            
             <span class="dropdown">
                 <button type="button" class="dropdown-toggle btn btn-default" data-toggle="dropdown">工具提示</button>
                <div class="dropdown-menu">
                    工具提示
                </div>
            </span>

            <span class="dropdown">
                 <button type="button" class="dropdown-toggle btn btn-default" data-toggle="dropdown">详细信息</button>
                <div class="dropdown-menu">
                    详细信息
                </div>
            </span>

            <ul id="filter_tag_choosed">
            </ul>
        </div>
    </div>

