<a class="intelligent-display-name">智能显示</a>

<div class="intelligent-display-pic" id="intelligent-display-pic">
     <button type="button" id="graph_bar" class="btn btn-default" title="直方图" chartName="bar"></button>
     <button type="button" id="graph_line" class="btn btn-default" title="折线图" chartName="line"></button>
     <button type="button" id="graph_scatter"  class="btn btn-default" title="散点图" chartName="scatter"></button>
     <button type="button"  id="graph_pie" class="btn btn-default" title="饼状图" chartName="pie"></button>
     <button type="button" id="stack_bar" class="btn btn-default" title="聚合直方图" chartName="stack_bar">图片</button>
     <button type="button" id="stack_line" class="btn btn-default" title="聚合线性图" chartName="stack_line">图片</button>
     <button type="button" id="area" class="btn btn-default" title="区域图" chartName="area">图片</button>
     <button type="button" id="stack_area" class="btn btn-default" title="聚合区域图" chartName="stack_area">图片</button>
     <button type="button" id="radar" class="btn btn-default" title="雷达图" chartName="radar">图片</button>
     <button type="button" id="china_map" class="btn btn-default" title="中国地图" chartName="china_map">图片</button>
     <button type="button" class="btn btn-default" title="直方图" chartName="bar">图片</button>
     <button type="button" class="btn btn-default" title="条形图" chartName="bar">图片</button>
     <button type="button" class="btn btn-default" title="曲线图" chartName="bar">图片</button>
     <button type="button" class="btn btn-default" title="折线图" chartName="bar">图片</button>
     <button type="button" class="btn btn-default" title="地图" chartName="bar">图片</button>
     <button type="button" class="btn btn-default" title="区域图" chartName="bar">图片</button>
     <button type="button" class="btn btn-default" title="直方图" chartName="bar">图片</button>
     <button type="button" class="btn btn-default" title="条形图" chartName="bar">图片</button>

     <div class="intelligent-display-tips">提示：请选择样式</div>
</div>
