<a class="intelligent-display-name">智能显示</a>
                <div class="intelligent-display-pic" id="intelligent-display-pic">
                    <button type="button" class="btn btn-default" title="曲线图" chartName="bar">曲线</button>
                    <button type="button" class="btn btn-default" title="折线图" chartName="line">折线</button>
                    <button type="button" class="btn btn-default" title="散点图" chartName="scatter">散点</button>
                    <button type="button" class="btn btn-default" title="饼状图" chartName="pie">饼状</button>
                    <button type="button" class="btn btn-default" title="直方图" chartName="bar">图片</button>
                    <button type="button" class="btn btn-default" title="条形图" chartName="bar">图片</button>
                    <button type="button" class="btn btn-default" title="曲线图" chartName="bar">图片</button>
                    <button type="button" class="btn btn-default" title="折线图" chartName="bar">图片</button>
                    <button type="button" class="btn btn-default" title="地图" chartName="bar">图片</button>
                    <button type="button" class="btn btn-default" title="区域图" chartName="bar">图片</button>
                    <button type="button" class="btn btn-default" title="直方图" chartName="bar">图片</button>
                    <button type="button" class="btn btn-default" title="条形图" chartName="bar">图片</button>
                    <button type="button" class="btn btn-default" title="曲线图" chartName="bar">图片</button>
                    <button type="button" class="btn btn-default" title="折线图" chartName="bar">图片</button>
                    <button type="button" class="btn btn-default" title="地图" chartName="bar">图片</button>
                    <button type="button" class="btn btn-default" title="区域图" chartName="bar">图片</button>
                    <button type="button" class="btn btn-default" title="直方图" chartName="bar">图片</button>
                    <button type="button" class="btn btn-default" title="条形图" chartName="bar">图片</button>

                    <div class="intelligent-display-tips">提示：请选择样式</div>
                </div>
