<div id="choosed_chart" class="panel panel-default">
    <div class="panel-heading">图表</div>
    <ul>
        <li class="ui-state-highlight">sample1</li>
        <li class="ui-state-highlight">sample1</li>
        <li class="ui-state-highlight">sample1</li>
        <li class="ui-state-highlight">sample1</li>
        <li class="ui-state-highlight">sample1</li>
        <li class="ui-state-highlight">sample1</li>
        <li class="ui-state-highlight">sample1</li>
        <li class="ui-state-highlight">sample1</li>
        <li class="ui-state-highlight">sample1</li>

    </ul>
</div>