<div id="choosed_chart" class="panel panel-default">
    <div class="panel-heading">组件</div>
    <ul>
        <li class="ui-state-highlight" data="图表1">sample1</li>
        <li class="ui-state-highlight" data="图表2">sample2</li>
        <li class="ui-state-highlight" data="图表3">sample3</li>
        <li class="ui-state-highlight" data="图表4">sample4</li>
        <li class="ui-state-highlight" data="图表5">sample5</li>
    </ul>
    <hr/>
    <div class="choosed_chart_extra"><span>文字</span><span>图片</span></div>
</div>

<div id="choosed_dashboard" class="panel panel-default">
    <div class="panel-heading">场景</div>
    <ul>
    </ul>
</div>

<div id="choosed_layout" class="panel panel-default">
    <div class="panel-heading">层次关系</div>
    <ul>
    </ul>
</div>

