{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Web like Tableau</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.10.4.custom.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.minicolors.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.gridster.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/easydialog.css' %}">
		{% include 'head.html' %}
    </head>
    <body>
        <div id="header">DataInsight</div>
        <div id="content" action_type={{type}} widget_id={{id}}></div>
        <div id="footer"></div>
        <div id="page_data" style="display:none">{{content}}</div>
    </body>
</html>
<script>
//window.onload的作用，确保requirejs.config在require.js加载完之后运行
//否则按照chrome加载顺序是一起加载的
window.onload = function (){
	// 启动js脚本
	requirejs(['jquery', 'app'], function($, app) {
        window.action_type  = $("#content").attr("action_type");
        window.widget_id    = $("#content").attr("widget_id");
	})
}
</script>


