/*!
 * 场景设计界面样式
 *
 * Date: 2014-05-01
 */

body {
font-family: \5FAE\8F6F\96C5\9ED1,Tohoma;
}

#content .row {
    margin: 0;
}

#header {
    height: 25px;
    color: white;
    text-align: center;
    background-color: #776677;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
}

.menu-ul li a{
    padding:15px 50px;
}

.menu-home {
    padding:15px 50px;
}

#menu .navbar {
    margin-bottom: 0;
}

#choosed_chart ul {
    list-style-type: none;
    padding:0;
    margin:0;
}

#choosed_chart li:hover,
#scene_list_widget_text:hover {
    background-color: #E5F1FB;
    border-radius: 5px;
    border: 1px solid #CCC5EC;
}

#choosed_chart li,
#scene_list_widget_text {
    border: 1px solid white;
    padding: 0px 10px 1px 20px;
    cursor: pointer;
    overflow: hidden;
    font-size: 15px;
}

#scene-widget-border-con label {
    padding:1px 25px;
}

#choosed_chart ,
#choosed_layout ,
#choosed_dashboard {
    margin: 0;
    border: none;
    box-shadow: none;
}

#choosed_chart .glyphicon {
    color: #AFAFAF;
}

.choosed_chart_extra {
    padding:0 10px;
    background-color: #E5E2F1;
}

.choosed_chart_extra span {
    padding: 0 10px;
    cursor: default;
}

.choosed_chart_extra span:hover {
    background-color: #F6E8F5;
    border-radius: 5px;
}

#choosed_chart .panel-heading , 
#choosed_layout .panel-heading ,
#choosed_dashboard .panel-heading {
    padding: 3px 30px;
}

#choosed_dashboard ul {
    overflow: auto;
    padding: 0 0 0 20px;
    margin:0;
    list-style: none;
}

#choosed_dashboard ul li {
    padding:10px 0;
}

#choosed_chart ul{
    overflow: auto;
}

#scene_design_right .gridster ul {
    list-style: none;
    margin-left: 0px;
}

.gridster ul{
    list-style: none;
}

.gridster li{
     overflow: hidden;
}

.gridster li:hover{
    border: 1px solid #C0BDD1;
    box-shadow: 1px 1px 3px #888888;
   /*border: 1px solid #C0BDD1;
   cursor: pointer;
    color:#fff;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    line-height: 100%;*/
}

.gridster {
    margin: 0 auto;
    opacity: .8;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster-border>li {
    border: 1px solid #C0BDD1;
}

.gridster-border2>li {
    border: 1px solid #ffffff;
}

#scene_design_right {
    overflow: auto;
}

#scene_design_left ,
#scene_design_right {
    margin:0;
    padding:0;
    border-right: 1px solid #bbb;
}

.se_wi_div {
    height: 100%;
}

#choosed_layout ul li {
    padding: 0px 20px 1px 20px;
    cursor: default;
    overflow: hidden;
    font-size: 15px;
}

#choosed_layout ul {
    overflow: auto;
    padding: 0;
}

#choosed_layout i {
    color: #EB6283;
}

.scene_choose_widget:hover {
    background-color: #ddd;
}

.se_wi_color {
    background-color: #ddd;
}

.scene_choose_widget {
    position: relative;
}

.scene_choose_widget span.glyphicon {
    position: absolute;
    color: #581212;
    cursor: pointer;
    top: 4px;
    right: 0;
    display:none;
}

.scene_choose_widget:hover span.glyphicon {
    display:block;
}

.toolbar {
    background: #eee;
    padding: 5px 10px;
    border: 1px solid #bbb;
}

.modal-dialog {
    width:850px;
}

.scene-text-edit {
    opacity: 0;
    width: 18px;
    height: 18px;
    top: 4px;
    right: 0px;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 20;
    position: absolute;
}

.gs-w:hover .scene-text-edit {
    opacity: 1;
}