/*!
 * 包含组件，场景，主题list页面样式
 *
 * Date: 2014-05-01
 */

body {
font-family: \5FAE\8F6F\96C5\9ED1,Tohoma;
}

#header {
	height: 25px;
	color: white;
	text-align: center;
	background-color: #776677;
	font-size: 15px;
	font-weight: bold;
	line-height: 25px;
}

.menu-ul li a{
	padding:15px 50px;
}

.menu-home {
	padding:15px 50px;
}

#menu .navbar {
	margin-bottom: 0;
}

.content-right {
	border-left: 2px solid #ddd;
}

.content-right {
	padding: 0;
}

.content-left {
	padding: 0;
}

.content-menu button {
	margin: 0 5px 10px 5px;
	width: 110px;
}

.content-menu>button {
	
}

#content .row {
	margin-right: 0;
}

.element-list {
	padding:25px 0;
	min-height: 630px;
}

.element-list-div {
	float: left;
	margin: 5px 30px 15px 5px;
	border: 1px solid white;
}

.element-list-div p{
	text-align: center;
}

.element-list-div>div{
	cursor: pointer;
	/*display: block;
	border-radius: 8px;
	margin-bottom: 5px;
	width: 130px;
	height: 130px;*/
}

.content-menu form {
	margin:0;
}

.content-menu form button {
	margin:0 !important;
}

.content-menu .btn-group {
	margin: 0 50px 10px 5px;
	float:left;
}

.content-menu>.form-group {
	margin: 0 5px 0px 5px;
	float:left;
}

.content-left ul {
	list-style: none;
	margin: 0;
	overflow-y: auto;
	padding:0;
}

.content-left ul li {	
	font-size: 17px;
	padding: 3px 0 3px 35px;
	border-radius: 5px;
	cursor: pointer;
	border-bottom: 1px solid #ddd;
}
.content-left ul li a{
	display: block;
	color: black;
}
.content-left ul li img{
	border: 1px solid #ddd;
}

.content-left .panel {
	border: none;
	margin: 0;
	min-height: 200px;
}
.content-left .panel-heading{
	padding-left: 30px;
	background: #852b99 !important;
	color: white;
}

.content-left ul li:hover {	
	background-color: #F7F2F2;
}

#header span {
	float: right;
}


#db_link_modal .panel:first-child {
	margin-bottom: 30px;
}

#db_link_modal .panel-body {
	padding:0;
}

#db_link_modal .panel-body ul {
	padding:0;
	list-style: none;
	margin:0;
}

#list_link_dbs {
	padding:0;
}

#list_histroy_dbs {
	max-height: 300px;
	overflow-y: auto;
}

#list_link_dbs .db,
#list_histroy_dbs li {
	border-radius: 5px;
	font-size: 16px;
	padding: 6px 0 6px 20px ;
}

#list_link_dbs .db:hover,
#list_histroy_dbs li:hover {
	background-color: #F7F2F2;
	cursor: pointer;
}

#list_histroy_dbs li a {
	color: black;
	text-decoration: none;
}

#db_link_modal span {
	font-size: 16px;
	color: #696365;
	padding: 0 5px 0 0;
}

#db_link_modal .modal-title,
#db_link_modal .modal-footer {
	text-align: center;
}

#db_link_modal label{
	width: 200px;
	text-align: right;
}

#conn_db_form #tables_list {
	max-height: 500px;
	overflow-y: auto;
}

#conn_db_form #tables_list>div {
	cursor: pointer;
}

.table-div {
	line-height: 25px;
	font-size: 17px;
	border-radius: 3px;
}

#conn_db_form #tables_list input {
	margin: 0 10px 0 5px;
}

#conn_db_form #tables_list>div:hover {
	background-color: #ddd;
}

#widget_list ,
#batch_widget_list,
#scene_list ,
#batch_scene_list {
	min-height: 630px;
	padding: 15px;
}

.element-list-div{
	margin-bottom: 20px;
width: 500px;
float: left;
margin-right: 70px;
border: 2px solid #bbb;
}

.element-list-div .heading{
background: #27A9E3;
color: white;
padding: 8px;
}
.element-list-div .heading span{
	font-size: 18px;
padding-left: 10px;
letter-spacing: 5px;
}

.batch-widget-select,
.batch-scene-select {
	border: 2px solid #67B1EA !important;
}

.batch-widget-select:hover,
.batch-scene-select:hover {
	border: 2px solid #67B1EA !important;
}


#widget_list .element-list-div,
#scene_list .element-list-div {
/*	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 1px rgba(0,0,0,0.4);*/
	border: 2px solid #ddd;
}

#batch_widget_list .element-list-div:hover,
#batch_scene_list .element-list-div:hover {
	border: 2px solid #C7C1C5;
}

#batch_widget_list .element-list-div:hover .icon-check, 
#batch_scene_list .element-list-div:hover .icon-check {
	border: 2px solid #C7C1C5;
}

.batch-widget-select:hover .icon-check,
.batch-scene-select:hover .icon-check {
	border: 2px solid #67B1EA !important;
}

#widget_list .element-list-div:hover {
	border: 2px solid #27A9E3;
}

.element-list-widget,
.element-list-scene {
	position: relative;
}

.js-mod-widget-top,
.js-mod-scene-top {
	position: absolute;
	top: 1px;
	right: 1px;
}

.js-mod-widget-ico,
.js-mod-scene-ico {
	position: relative;
	z-index: 50;
	display: none;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 3px;
	cursor: pointer;
	border: 1px solid #D6D6D6;
	box-shadow: 0 0 2px rgba(0,0,0,.15);
}

.element-list-div:hover .js-mod-widget-ico ,
.element-list-div:hover .js-mod-scene-ico {
	display: block;
}

.icon-m {
	display: inline-block;
	font-size: 0;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
}

.icon-expansion-m {
	position: absolute;
	top: 1px;
	left: 1px;
	background-image: url(../img/list-background.png);
	background-position: -499px -170px;
}

.element-list-widget>a ,
.element-list-wcene>a {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #F5F5F5;
}

.js-mod-widget-con,
.js-mod-scene-con {
	display: none;
	position: absolute;
	top: 21px;
	right: 0;
	background: #fff;
	z-index: 49;
	border-radius: 4px 0 4px 4px;
	border: 1px solid #D6D6D6;
	box-shadow: 0 0 2px rgba(0,0,0,.15);
}

.js-mod-widget-con ul,
.js-mod-scene-con ul {
	list-style: none;
	min-width: 102px;
	padding: 0;
	margin: 0;
}

.js-mod-widget-con li,
.js-mod-scene-con li {
	padding: 2px 0;
}

.js-mod-widget-con li a,
.js-mod-scene-con li a {
	color: #262626;
	display: block;
	padding: 3px 0;
	margin: 0;
}

.js-mod-widget-con li a:hover,
.js-mod-scene-con li a:hover  {
	text-decoration: none;
	background: #5caae6;
	color: #fff;
}

.js-mod-widget-con i,
.js-mod-scene-con i {
	margin: 0 8px;
	vertical-align: -3px;
}

.icon-edit-m {
	background-image: url(../img/list-background.png);
	background-position: -499px -34px;
}

.icon-cover-m {
	background-image: url(../img/list-background.png);
	background-position: -499px -68px;
}

.icon-rubbish-m {
	background-image: url(../img/list-background.png);
	background-position: -499px -119px;
}

.element-list-div:hover {
	border: 2px solid #C7C1C5;
}

.element-list-div>span {
	text-align: center;
	display: block;
	width:130px;
	height: 20px;
	overflow: hidden;
}

.batch-list-check {
	position: absolute;
	top: -7px;
	left: -7px;
}

.icon-check {
	margin: 0;
	width: 22px;
	height: 22px;
	display: inline-block;
	border: 2px solid #ddd;
	background-color: #fff;
	vertical-align: middle;
}

.batch-widget-select .icon-check,
.batch-scene-select .icon-check {
	background-image: url(../img/photo.32-gag140424115042.png);
	background-position: -661px -150px;
	background-color: #67B1EA;
	border: 2px solid #67B1EA;
}

.content-menu-title {
	float: left;
	font-size: 24px;
	font-weight: bold;
	margin: 0 10px 0 10px;
}

.content-menu-count {
	float: left;
	font-size: 15px;
	margin: 12px 10px 0 0px;
	width: 160px;
}

#widget_count,
#scene_count {
	text-align: left;
	padding: 10px;
}

.content-menu{
	padding: 15px;
	background: #4b8df8;
	color: white;
}

.toolbar{
	background: #eee;
padding: 5px 10px;
border: 1px solid #bbb;
}
.test{
margin-bottom: 20px;
width: 500px;
float: left;
margin-right: 70px;
border: 2px solid #bbb;
}
.test1{
background: #27A9E3;
color: white;
padding: 8px;
}
.test1 span{
	font-size: 18px;
padding-left: 10px;
letter-spacing: 5px;
}