#list_db_menu nav li a {
 padding:5px 12px;
}

#list_db_content {
	padding:20px 0 0 15px;
}

#header {
	height: 25px;
	color: white;
	text-align: center;
	background-color: #776677;
	font-size: 15px;
	font-weight: bold;
	line-height: 25px;
}

.navbar {
	min-height: 20px;
	margin-bottom: 0;
}

.row>div {
	padding:0;
}

.row {
	margin:0;
}

.list-dbs-info>div {
	padding:5px 0;
}

.list-dbs-info>div:first-child ,
.welcome_workbook>div:first-child {
	font-size: 22px;
	font-weight: bold;
	color: #00E440;
}

#list_saved_dbs span{
	font-size: 16px;
	color:#367718;
}

#list_link_to_db {
	cursor: pointer;
}

#list_link_to_db>div:hover {
	background-color: #F7F2F2;
}

#list_saved_dbs {
	overflow: auto;
}

.list-dbs-info {
	height: 620px;
	overflow: auto;
	border-right: 2px solid #ddd;
}

#list_saved_dbs ul ,
#list_link_to_db ul{
	list-style-type: none;
}

#list_saved_dbs ul li ,
#list_link_to_db ul li {
	padding:5px 0;
}

#list_saved_dbs ul li a {
	color:black;
	text-decoration: none;
}

#list_link_to_db ul li{
	color: #428bca;
	text-decoration: none;
}

#list_saved_dbs ul li a span{
	padding:0 5px 0 0;
}

#list_saved_dbs ul li a:hover {
	color:black;
	text-decoration: none;
}

#list_saved_dbs ul li:hover , 
#list_link_to_db ul li:hover {
	background-color: #F7F2F2;
	cursor: pointer;
}

#list_link_to_db_head {
	line-height: 30px;
	font-size: 16px;
}

.welcome_workbook {
	padding:5px 0 5px 15px;
}

#list_link_db_modal label {
	width:200px;
	text-align: right;
}

#list_link_db_modal .modal-title,
#list_link_db_modal .modal-footer {
	text-align: center;
}

#list_link_db_modal #tables_list {
	padding: 0;
	list-style: none;
}

#list_link_db_modal #tables_list li {
	padding: 0 30px;
	margin: 0;
	line-height: 30px;
	cursor: pointer;
}

#list_link_db_modal #tables_list li:hover{
	background-color: #F1DCDC;
	border-radius: 5px;
}

#list_link_db_modal #tables_list li.table-choosed {
	background-color: #F1DCDC;
	border-radius: 5px;
}

#list_link_db_modal .modal-footer {
	margin-top: 0px;
}


#conn_db_form #tables_list input {
	margin: 0 10px 0 5px;
}

#conn_db_form #tables_list {
	max-height: 500px;
	overflow-y: auto;
}

#conn_db_form #tables_list>div:hover {
	background-color: #ddd;
}	

#conn_db_form #tables_list>div {
	cursor: pointer;
}	

.table-div {
line-height: 25px;
font-size: 17px;
border-radius: 3px;
}