/*!
 * 浏览界面CSS
 *
 * Date: 2014-06-04
 */


body {
	font-family: \5FAE\8F6F\96C5\9ED1,Tohoma;
}

.row {
	margin:0;
}

#header {
	padding: 20px 0;
}

.menu-home {
	padding: 15px 25px 15px 0;
	font-size: 2em;
	color: #DD9C70;
	font-weight: bold;
}

#content {
	background-color: #f4f4f4;
}

.view-list-search {
	padding:10px;
	margin: 40px 15px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
	-khtml-box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
	-o-box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
	box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
}

.view-list-sort {
	background: #bf9f7c;
	color: #fff;
	padding: 3px;
	
}

.view-list-sort i {
	font-size: 1px;
	top: 2px;
}

.view-list-theme {
	margin: 0 0 30px 0;
	-webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
	-khtml-box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
	-o-box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
	box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
	background-color: #fff;
	height: 300px;
}

.view-list-search>div {
	padding:10px 0;
	text-align: center;
}

.view-list-search b {
	color: #f60;
	font-weight: bold;
	margin: 0 3px;
}
