<script type="text/x-template" id="table_list_wrap">
	<div id="table_name" class="panel panel-default">
		<div class="panel-heading">数据</div>
		<ul>
			<% _.each(names, function(n) { %> 
				<li class="table_name" class="ui-state-highlight"><%= n %></li>
			<% }); %>
		</ul>
	</div>

	<div id="dimensions" class="panel panel-default">
		<div class="panel-heading">维度</div>
		<ul id="mensions_list" class="panel-body"></ul>
	</div>

	<div id="measures" class="panel panel-default">
		<div class="panel-heading">度量</div>
		<ul id="measures_list"  class="panel-body"></ul>
	</div>
</script>



<script type="text/x-template" id="mensions_list_wrap">
	<% _.each(dm, function(v, k) { %> 
		<li class="mension ui-state-highlight coordinate" type="mension">
		<m class="axes-math" data=""></m>
		<span class='attr'><%= v %></span>
		<b data-toggle='dropdown' class='glyphicon glyphicon-plus-sign dropdown-toggle'></b>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
			<li class="coordinate-edit"><a href="#">编辑</a></li>
			<li class="coordinate-filter"><a href="#">筛选</a></li>
			<li class="coordinate-measure">
				<a href="#">度量<span class="glyphicon glyphicon-play"></span></a>
				<ul class="dropdown-menu"> 
					<li class="coordinate-max"><a href="#">最大值</a></li>
					<li class="coordinate-min"><a href="#">最小值</a></li>
					<li class="coordinate-count"><a href="#">计数</a></li>
				</ul>
			</li>
			<li class="coordinate-remove"><a href="#">移除</a></li>
		</ul>
		</li>
	 <% }); %>
</script>



<script type="text/x-template" id="time_list_wrap">
	<% _.each(tm, function(v, k) { %> 
		<li class="timesion ui-state-highlight coordinate" type="timesion">
		<m class="axes-math" data="year">(年)</m>
		<span class='attr'><%= v %></span>
		<b data-toggle='dropdown' class='glyphicon glyphicon-plus-sign dropdown-toggle'></b>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
			<li class="coordinate-edit"><a href="#">编辑</a></li>
			<li class="coordinate-filter"><a href="#">筛选</a></li>
			<li class="coordinate-measure">
				<a href="#">具体<span class="glyphicon glyphicon-play"></span></a>
				<ul class="dropdown-menu"> 
					<li class="coordinate-year sts"><a href="#" data="year">年</a></li>
					<li class="coordinate-month sts"><a href="#" data="month">月</a></li>
					<li class="coordinate-day sts"><a href="#" data="day">日</a></li>
					<li class="coordinate-hour sts"><a href="#" data="hour">小时</a></li>
					<li class="coordinate-raw sts"><a href="#" data="raw">原生</a></li>
				</ul>
			</li>
			<li class="coordinate-remove"><a href="#">移除</a></li>
		</ul>
		</li>
	<% }); %>
</script>


<script type="text/x-template" id="measures_list_wrap">
	<% _.each(me, function(v, k) { %> 
		<li class="measure coordinate" draggable="true" type="measure">
		<m class="axes-math" data="sum">(求和)</m>
		<span class='attr'><%= v %></span>
		<b data-toggle='dropdown' class='glyphicon glyphicon-plus-sign dropdown-toggle'></b>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
			<li class="coordinate-edit"><a href="#">编辑</a></li>
			<li class="coordinate-filter"><a href="#">筛选</a></li>
			<li class="coordinate-measure">
				<a href="#">度量<span class="glyphicon glyphicon-play"></span></a>
				<ul class="dropdown-menu">
					<li class="coordinate-sum sts"><a href="#" data="sum">求和</a></li>
					<li class="coordinate-avg sts"><a href="#" data="avg">平均值</a></li>
					<li class="coordinate-count sts"><a href="#" data="count">计数</a></li>
					<li class="coordinate-max sts"><a href="#" data="max">最大值</a></li>
					<li class="coordinate-min sts"><a href="#" data="min">最小值</a></li>
				</ul>
			</li>
			<li class="coordinate-remove"><a href="#">移除</a></li>
		</ul>
		</li> 
	<% }); %>
</script>
