<div id="design_menu_option">
        <ul class="clearfix">
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">文件<b class="caret"></b></a>
               <ul class="dropdown-menu">
                    <li><a href="#">新建</a></li>
                    <li><a href="#">打开</a></li>
                    <li><a href="#">关闭</a></li>
                    <li class="divider"></li>
                    <li><a href="#">保存</a></li>
                    <li><a href="#">另存为</a></li>
                    <li id="open_work_book"><a href="#">打开工作簿</a></li>
                    <li id="save_work_book"><a href="#">保存工作簿</a></li>
                    <li><a href="#">打印</a></li>
                    <li class="divider"></li>
                    <li><a href="#">退出</a></li>
                </ul>
            </li>
             <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">数据<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li id="menu_link_db"><a href="#">连接数据库</a></li>
                    <li><a href="#">粘贴数据</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">工具表<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">新建工作表</a></li>
                    <li><a href="#">复制</a></li>
                    <li><a href="#">导出</a></li>
                    <li><a href="#">清除</a></li>
                </ul>
            </li>
            <li><a href="#">仪表盘</a></li>
            <li><a href="#">分析</a></li>
            <li><a href="#">地图</a></li>
            <li><a href="#">设置格式</a></li>
            <li><a href="#">服务器</a></li>
            <li><a href="#">窗口</a></li>
            <li><a href="#">帮助</a></li>
        </ul>
</div>


<div id="design_menu_ico" class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-chevron-left"> </span></button>
        <button type="button" class="btn btn-default btn-xs"> <span class="glyphicon glyphicon-chevron-right"> </span></button>
        <button type="button" class="btn btn-default btn-xs"> <span class="glyphicon glyphicon-cloud"> </span></button>
        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-folder-close"> </span></button>
        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-fullscreen"> </span></button>
        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-move"> </span></button>
        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-picture"> </span></button>
        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-refresh"> </span></button>
        <button type="button" class="btn btn-default btn-xs"> <span class="glyphicon glyphicon-stats"> </span></button>
        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-th-large"> </span></button>
        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cog"> </span></button>
        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-th-large"> </span></button>
        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cog"> </span></button>
        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cog"> </span></button>
        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-th-large"> </span></button>
        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cog"> </span></button>
        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cog"> </span></button>
        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-th-large"> </span></button>
        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cog"> </span></button>
        <button type="button" id="design_menu_ico_plus" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"> </span></button>
        <button type="button" id="design_menu_ico_minus" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-minus"> </span></button>

    </div>
</div>

