<div id="design_menu_option">
       <nav class="navbar navbar-default" role="navigation">
		       	<div class="navbar-header">
				    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				      <span class="sr-only">DataInsight</span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				    </button>
				    <a class="menu-home navbar-brand" href="#">DataInsight</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				    <ul class="nav navbar-nav menu-ul" >
				      	<li class="active"><a href="/widget">组件</a></li>
                        <li><a href="/scene">场景</a></li>
                        <li><a href="/theme">主题</a></li>
                        <li><a href="#">个人信息</a></li>
				    </ul>
				</div>
			</nav>
</div>

<div id="design_menu_ico" style="border-bottom: 1px solid #ddd;">
	<div class="" style="margin-left: 840px;display:inline">
	    <button id="design_menu_save" type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-floppy-save"></span>&nbsp;保存</button>
	    <button id="design_menu_save_back" type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-save"></span>&nbsp;保存并返回</button>
	    <button type="button" id="design_menu_back" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;返回</button>
	    <button id="design_menu_ico_plus" type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus"> </span>&nbsp;放大</button>
	    <button id="design_menu_ico_minus" type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-minus"> </span>&nbsp;缩小</button>
    </div>
</div>

