<script type="text/template" id="graph-view">	
	<div class="row">
		<div class="col-md-2">
			<div class="dropdown">
 			 <button id="graph" type="button" class="choosed-chart-style chart-<%=graph%>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  			 </button>
 			 <ul class="dropdown-menu select-graph clearfix" role="menu" aria-labelledby="graph">
    			<li><button href="#" data-graph="bar" class="btn charts chart-bar"></button></li>
				<li><button href="#" data-graph="line" class="btn charts chart-line"></button></li>
				<li><button href="#" data-graph="area" class="btn charts chart-area"></button></li>
				<li><button href="#" data-graph="gauge" class="btn charts chart-gauge"></button></li>
				<li><button href="#" data-graph="map" class="btn charts chart-map"></button></li>
				<li><button href="#" data-graph="pie" class="btn charts chart-pie"></button></li>
				<li><button href="#" data-graph="radar" class="btn charts chart-radar"></button></li>
				<li><button href="#" data-graph="scatter" class="btn charts chart-scatter"></button></li>
  			</ul>
			</div>
			
		</div>
		<div class="col-md-5" style="padding: 0">
			<div class="dragging-custom design-column clearfix">
				<div class="test">纵轴</div>
				<ul id="y_sortable" ondragover="return false" class="dragging-custom connectedSortable clearfix ">
					<% _.each(axisX, function(x, index){ %>
   					 	<li class="mension" type="mension"> <%= x %> </li>
    				<% }); %>
				</ul>
			</div>
			<div class="dragging-custom design-column clearfix" style="margin-top: 25px;">
				<div class="test">横轴</div>
				<ul id="x_sortable" ondragover="return false" class="dragging-custom connectedSortable clearfix">
					<% _.each(axisY, function(y){ %>
   					 	<li class="measure" type="measure"> <%= y %> </li>
    				<% }); %>
				</ul>
			</div>
		</div>
		
		<div id="graph-feature" class="col-md-5">
			<ul class="clearfix">
			<% _.each(mapping, function(value, key){ %>
   				<li class="feature-item dragging-custom"><label><%= key %></label> <%= value %> </li>
    		<% }); %>
			</ul>
		</div>
	</div>
</script>
