{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}">
<script type="text/javascript">window.resourceJs = "{% static 'js' %}"</script>
<script src="{% static 'js/jquery-2.1.0.js' %}"></script>
<script src="{% static 'js/require.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<!-- <script src='{% static "js/lib/bootstrap.js" %}'></script> -->
<script src='{% static "js/csrf.js" %}'></script>
<!-- <script src="{% static 'js/jquery-2.1.0.js' %} data-main="{% static 'js/main.js' %}""></script> -->
