{% load static %}
<!DOCTYPE html>
<head>
	<meta charset='utf-8'>
	<title>DataInsight</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/element.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}">
</head>
<body>
	<!--LOGO begin-->
	<div id="header">DataInsight</div>
	<!--LOGO end-->
</body>
<script src='{% static "js/element.js" %}'></script>
<script src='{% static "js/lib/bootstrap.js" %}'></script>