{% load static %}

<!DOCTYPE html>
<head>
	<meta charset='utf-8'>
</head>
<body>
	<p>Welcome</p>
	<ul id='supported_dbs_list'>
		{% for db in supported_dbs %}
		<li class='db'>{{ db }}</li>
		{% endfor %}
	</ul>
	<ul>
		{% for i in dbs %}
			<li>{{i.ip}}  -----  {{i.tablename}}</li>
		{% endfor %}
	</ul>
	<form id='conn_db_form' method='post' action='/indb/' enctype="multipart/form-data", style='display: none'>
		{% csrf_token %}
		{{ form.as_p }}
		<input type='submit' value='连接' />
	</form>
</body>
<script src='{% static "js/jquery-2.1.0.js" %}'></script>
<script src='{% static "js/which_db.js" %}'></script>
