{% load static %}
{% load myfilter %}

<!DOCTYPE html>
<head>
	<meta charset='utf-8'>
	<title>DataInsight</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.gridster.css' %}">
    {% include 'head.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme/design.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
   <!--  <link rel="stylesheet" type="text/css" href="{% static 'css/theme/style.css' %}"> -->
</head>
<body>
	<!--LOGO begin-->
	<div id="header">DataInsight</div>
	<!--LOGO end-->

	<!--section begin-->
	<div id="section">
		<!--menu begin-->
		<div id="menu">
			<nav class="navbar navbar-default" role="navigation">
		       	<div class="navbar-header">
				    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				      <span class="sr-only">DataInsight</span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				    </button>
				    <a class="menu-home navbar-brand" href="#">DataInsight</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				    <ul class="nav navbar-nav menu-ul" >
				      	<li><a href="/widget">组件</a></li>
						<li><a href="/scene">场景</a></li>
						<li class="active"><a href="/theme">主题</a></li>
						<li><a href="#">个人信息</a></li>
				    </ul>
				</div>
			</nav>
		</div>
		<!--menu end-->
    </div>


    <!--content begin-->
		<div id="content">
			<div class="row">
		  		<div id="theme_design_left" style="height:680px" class="content-left col-md-2 col-lg-2">
		  			<table height="100%" width="100%">	
		  				<tbody>
		  					<tr height="30%"><td>
		  						<div style="height:100%" id="choosed_chart" class="panel panel-default">
								    <div class="panel-heading">场景</div>
								    <ul id="theme_list">
								    	{% for scene in allowed_scenes %}
							            <li class="theme-item" id="sceneId_{{scene.pk}}" data-id='{{ scene.pk }}' data-name="{{ scene.m_name }}" data-layout="{{scene.m_layout}}"  title="{{ scene.m_name }}">
							            	<img width="30" height="30" src="{{scene.m_snapshot}}"/>
							            	{{ scene.m_name }}
							            </li>
							            {% endfor %}
								    </ul>
								</div>
		  					</td></tr>
		  					<tr height="30%"><td>
		  						<div style="height:100%" id="choosed_layout" class="panel panel-default">
								    <div class="panel-heading">播放顺序</div>
								    <ol id="play_order">
								 
								    </ol>
								</div>
		  					</td></tr>
		  					<!-- <tr height="25%"><td>
		  						<div style="height:100%" id="choosed_layout" class="panel panel-default">
								    <div id="switch_effect" class="panel-heading">播放效果</div>
								    	 <ul id="effect-list">
								          <li id="scrollVert3d"><a href="#" class="effect "  data-fx="scrollVert3d">Vertical 3D scroll</a></li>
								          <li id="scrollHorz3d" class="current"><a href="#" class="effect" data-id="1" data-fx="scrollHorz3d">Horizontal 3D scroll</a></li>
								          <li id="scrollVert" ><a href="#" class="effect" data-id="2" data-fx="scrollVert">Vertical scroll</a></li>
								          <li id="scrollHorz"><a href="#" class="effect" data-id="3" data-fx="scrollHorz">Horizontal scroll</a></li>
								          <li><a href="#" class="effect" data-id="4" data-fx="blindLeft">Blind left</a></li>
								          <li><a href="#" class="effect" data-id="6" data-fx="blindDown">Blind down</a></li>
								          <li><a href="#" class="effect" data-id="7" data-fx="fade">Fade</a></li>
			       					 </ul>
								</div>
		  					</td></tr> -->
		  					<tr><td>
		  						<div class="panel panel-default">	
		  							<div class="panel-heading">主题属性</div>
		  							<div style="margin-top:5px;margin-left: 20px;padding-right: 5px;">
		  								<p><label>名字:</label><span id="name">{{theme.m_name}}</span></p>
		  								<p><label>描述:</label><span id="description">{{theme.description|truncatehanzi:"60"}}</span></p>
		  								<button type="button" data-toggle="modal" data-target="#settingModal"  class="btn btn-default pull-right">编辑</button>
		  							</div>
		  						</div>
		  					</td></tr>
		  					<tr>
								<!-- 编辑主题属性的Modal -->
								<div class="modal fade" id="settingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								  <div class="modal-dialog modal-md">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
								        <h4 class="modal-title" id="myModalLabel">主题设置</h4>
								      </div>
								      <div class="modal-body">
									  	<p>名字:<input style="width: 372px" name="m_name" id="theme_name" type="text" value="{{theme.m_name}}"/></p>
		  								<p>描述:<textarea id="theme_description" name="description" cols="50" rows="6" >{{theme.description}}</textarea></p>
									  </div>
								      <div class="modal-footer">
								        <button type="button" onclick="commitSetting()" class="btn btn-md btn-primary" data-dismiss="modal">确&nbsp;&nbsp;定</button>
								        <button type="button" class="btn btn-md btn-default" data-dismiss="modal">取&nbsp;&nbsp;消</button>
								      </div>
								    </div>
								  </div>
								</div>
		  					</tr>
		  				</tbody>
		  			</table>
		  			
					
					
		  		 </div>
		  		 
		  		<div id="scene_design_right" class="content-right col-md-10 col-lg-10">
		  			<div class="alert theme-scence-count" data-id="{{theme.pk}}">
		  				已添加<span data-count="{{theme.m_scenes.all|length}}" id="scenceCount">{{theme.m_scenes.all|length}}</span>个场景
		  			</div>
		  			<div class="show-msg alert-success" style="font-weight: bold;">保存成功</div>
		  			<div class="toolbar">
				    <div class="btn-group btn-group-md">
				    	<button id="prev" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;上一张</button>
				    	<button id="next" class="btn btn-sm btn-default">下一张&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></button>
				    </div>
				    <div class="btn-group btn-group-md">
				    	 <button id="save_scene" {% if not theme.m_scenes.all%}disabled="disabled"{% endif%} type="button" class="btn btn-sm btn-default">
					    	<span class="glyphicon glyphicon-floppy-save"></span>&nbsp;保&nbsp;存
					    </button>
					    <button id="refresh" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-refresh"></span>&nbsp;重置</button>
				    </div>
				    </div>
				     <!-- 进度条 -->
				    <div class="slider-viewport">
				    <div id="viewport">
						<div id="draw_theme" class="">
							{% for ral in t2s_ral.all %}
							<figure data-id="{{ral.m_scn.pk}}" data-src="{{ral.m_scn.m_snapshot}}" data-name="{{ral.m_scn.m_name}}" class='slide' id='s_{{ral.m_scn.pk}}'>
							<!-- <h5 class='scence-title'> {{ral.m_scn.m_name}}</h5> -->
								<img width="1000" height="600" src='{{ral.m_scn.m_snapshot}}'>
							</figure>
							{% endfor %}
						</div>
					</div>
					</div>
		  		</div>
		  		
		  	</div>
		</div>
		<!--content end-->
</body>

<script src='{% static "js/common/tools.js" %}'></script>
<script src="{% static 'js/theme/box-slider.jquery.js' %}"></script>
<script src="{% static 'js/theme/effects/box-slider-fx-scroll-3d.js' %}"></script>
<script src="{% static 'js/theme/effects/box-slider-fx-fade.js' %}"></script>
<script src="{% static 'js/theme/effects/box-slider-fx-scroll.js' %}"></script>
<script src="{% static 'js/theme/effects/box-slider-fx-blinds.js' %}"></script>
<script src="{% static 'js/theme/effects/box-slider-fx-carousel-3d.js' %}"></script>
<script src="{% static 'js/theme/effects/box-slider-fx-tile-3d.js' %}"></script>
<script src="{% static 'js/showmsg.js' %}"></script>

<script>
function commitSetting(){
	$("#name").text($("#theme_name").val());
	$("#description").text($("#theme_description").val());
}
window.onload = function(){
	requirejs(['jqueryUi','themeDesign', 'toolbar-flexible'], function(Jqueryui,design){
		$(".toolbar").toolbar({
			bottom: "5%",
			right: "10%",
			position: "fixed"
		});
		
		var $box = $('#draw_theme')
	          , $effects = $('.effect')
	          , slideInterval = 5000;
		        
		        $box.boxSlider({
		            speed: 1000
		          , autoScroll: false
		          , timeout: slideInterval
		          , next: '#next'
		          , prev: '#prev'
		          //, pause: '#pause'
		          , effect: "scrollVert"
		          , blindCount: 15
		        });
		    
		    $("#refresh").click(function(){
		    	$box.boxSlider({
		            speed: 1000
		          , autoScroll: false
		          , timeout: slideInterval
		          , next: '#next'
		          , prev: '#prev'
		          //, pause: '#pause'
		          , effect: "scrollVert"
		          , blindCount: 15
		        });
		    })
		    
	        $("#prev,#next").on("click", function(){
	        	$("#pause").removeAttr("disabled");
	        	$("#play").attr("disabled", "disabled");
	        });
	        
	        if("{{theme.m_switch_effect}}"){
	        	$(".current").removeClass("current");
	        	$("#{{theme.m_switch_effect}}").addClass("current");
	        }
	        
	        
		},function(err){
			alert("js加载出错了")
		});
}
</script>
