{% extends "base/list.html" %}
{% load pagination_tags %}
{% load myfilter %}
{% load static %}

<!-- {# 导航栏 #}
{% block menu %}
	<li><a href="/widget">组件</a></li>
	<li><a href="/scene">场景</a></li>
	<li class="active"><a href="/theme">主题</a></li>
	<li><a href="#">个人信息</a></li>
{% endblock %} -->

{# 左栏目 #}
{% block contentLeft %}
<div class="panel panel-default">
	<div class="panel-heading"><span class="glyphicon glyphicon-th-list">&nbsp;</span>主题列表</div>
</div>
{% endblock %}


{# 右栏目 #}
{% block contentRight %}
{% autopaginate themeList 9 %}
<div class="content-menu clearfix">
    <div id="theme_count" class="clearfix">共&nbsp;<span>{{allCount}}</span>&nbsp;个主题，本页有
	&nbsp;<span>{{themeList|length}}</span>&nbsp;个
</div>
</div>
<div class="toolbar clearfix">
<div class="pull-left">
	<div class="btn-group" data-toggle="buttons">
		  <label class="btn btn-default active" id="theme_sort_drop">
		    <input type="radio" name="theme_input_sort" >时间降序&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-down"></span>
		  </label>
		  <label class="btn btn-default" id="theme_sort_rise">
		    <input type="radio" name="theme_input_sort" >时间升序&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-up"></span>
		  </label>
		</div>
	</div>
	<div class="pull-left" style="margin-left: 15px">
		<button type="button" id="button_new_theme" class="btn btn-info">新建&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span></button>
	    <button type="button" id="button_theme_batch" class="btn btn-warning">批量管理&nbsp;&nbsp;<span class="glyphicon glyphicon-list"></span></button>
	    {% if search %}
   			<button type="button" id="theme_list_back" class="btn  btn-info">返回&nbsp;<span class="glyphicon glyphicon-arrow-left"></span></button>
   		{% endif %}
	</div>
	<div class="pull-right">
	    <div class="" style="width: 365px;">
	    <div class="input-group">
	        <input type="text" id="theme_input_search" value="{{search}}" name="search" placeholder="请输入搜索内容" class="form-control"/>
	        <div class="input-group-btn">
	          <button id="theme_button_search" type="button" class="btn btn-primary">查找&nbsp;<span class="glyphicon glyphicon-search"></span></button>
	        </div><!-- /btn-group -->
	    </div>
	    </div>
	 </div>
</div>
<!-- <div class="content-menu clearfix">
    <div class="btn-group" data-toggle="buttons">
	  <label class="btn btn-info active" id="theme_sort_drop">
	    <input type="radio" name="theme_input_sort" >时间升序
	  </label>
	  <label class="btn btn-info" id="theme_sort_rise">
	    <input type="radio" name="theme_input_sort" >时间降序
	  </label>
	</div>
	<button type="button" id="button_new_theme" class="btn btn-primary">新建</button>
	<button type="button" id="button_theme_batch" class="btn btn-default">批量管理</button>
	<form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" id="theme_input_search" value="{{search}}" class="form-control" placeholder="请输入搜索内容">
      </div>
      <button id="theme_button_search" type="button" class="btn btn-success">查找</button>
    </form>
</div>
	{% if search %}
    <button type="button" id="theme_list_back" class="btn pull-right btn-default"><span class="glyphicon glyphicon-arrow-left">&nbsp;</span>返回</button>
    {% endif %} -->
<div class="tab-pane fade active in element-list clearfix" id="theme_list">
		<div class="row">
	    {% for theme in themeList %}
	    	<div class="col-md-4 col-xs-12">
		    	<div class="view-list-theme element-list-div element-list-theme" data-id="{{theme.pk}}">
		    	<a class="link-to-theme" href="{% url 'theme:edit' theme.pk %}">
			    		<div class="heading">
							<h4>{{ theme.m_name}}</h4>
						</div>
						<div class="description" data-toggle="tooltip" title="{{theme.description}}">
							&nbsp;&nbsp;{{theme.description| truncatehanzi:"60"}}
						</div>
			    		<!-- {{theme.m_scenes.all.0.m_snapshot}} -->
						<ul class="scene-list clearfix">
								{% for sc in theme.t2r_set.all|slice:":2" %}
								<li class="scene-item" data-id="{{sc.m_scn.pk}}">
									<img width="130px" height="80px" src="{{sc.m_scn.m_snapshot}}" />
								</li>
								{% endfor %}
						</ul>
					</a>
						<div class="js-mod-theme-top">
						    <span class="js-mod-theme-ico"><i class="icon-m icon-expansion-m"></i></span>
						    <div class="js-mod-theme-con">
						     	<ul>
								    <li>
								       <a href="/theme/edit/{{theme.pk}}"><i class="icon-m icon-edit-m"></i>编辑</a>
								    </li>
								    <li>
								    	{% if theme.m_is_distributed %}
								    		<a class="theme_operate" href="#"><i class="icon-m icon-cover-m"></i>取消发布</a>
										{% else %}
											<a class="theme_operate"  href="#"><i class="icon-m icon-cover-m"></i>发布</a>
										{% endif %}
								    </li>
								    <li>
								       <a class="theme_operate" data-op="delete" href="#"><i class="icon-m icon-rubbish-m"></i>删除</a>
								    </li>
						     	</ul>
						    </div>
						</div>
					</div>
				</div>
		{% empty %}
		没有符合条件的主题
		{% endfor %}
	    </div>
</div>
{% paginate %}
{% endblock %}


{% block extraContent %}
<!-- 搜索表单 begin -->
<form id="theme_search_form">
    <input type="hidden" id="theme_submit_search" name="search" value="{{search}}" />
    <input type="hidden" id="theme_submit_sort" name="sort" value="{{sort}}" />
    <input type="hidden" id="theme_submit_page" name="page" value="{{page}}" />
</form> 
<!-- 搜索表单 end -->
<!-- 提交表单 begin -->
<form id="theme_post_form" method="post">
	{% csrf_token %}
    <input type="hidden" id="theme_post_id" name="id" value="" />
    <input type="hidden" id="theme_post_search" name="search" value="{{search}}" />
    <input type="hidden" id="theme_post_sort" name="sort" value="{{sort}}" />
    <input type="hidden" id="theme_post_page" name="page" value="{{page}}" />
</form> 
<!-- 提交表单 end -->
<!-- 初始按钮 begin -->
<link rel="stylesheet" type="text/css" href="{% static 'css/theme/view.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/theme/design.css' %}">
<script src='{% static "js/lib/bootstrap.js" %}'></script>
<script src='{% static "js/common/tools.js" %}'></script>
<script>
//开启boostrap tooltip功能
$(".description").tooltip();
window.onload = function (){

	if({{sort}}==1){
		$("#theme_sort_drop").removeClass('active');
		$("#theme_sort_rise").addClass('active');
	}
	
};
</script>
{% endblock %}