{% load static %}
{% load pagination_tags %}
{% load myfilter %}

<!DOCTYPE html>
<head>
	<meta charset='utf-8'>
	<title>DataInsight</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/view.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/theme/view.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}">
</head>
<body>
	<!--menu begin-->
	<div id="header" class="row navbar navbar-default ">
		<div class="col-md-10 col-xs-12 col-md-offset-1">
			<div class="text-center">
				<span class="menu-home">主题列表</span>
			</div>
		</div>
	</div>
	<div id="necker" class="clearfix">
		<div class="row">
		<div class="col-md-10 col-xs-12 col-md-offset-1">
			<div class="sort-group btn-group pull-left">
			 	<div class="btn-group" data-toggle="buttons">
				  <label class="btn active" id="theme_sort_drop">
				    <input type="radio" name="theme_input_sort" >时间降序&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-down"></span>
				  </label>
				  <label class="btn" id="theme_sort_rise">
				    <input type="radio" name="theme_input_sort" >时间升序&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-up"></span>
				  </label>
				</div>
			</div>
			<div class="pull-right" style="width: 365px;">
		    <div class="input-group">
		        <input type="text" id="theme_input_search" value="{{search}}" name="search" placeholder="请输入搜索内容" class="form-control"/>
		        <div class="input-group-btn">
		          <button id="theme_button_search" type="button" class="btn btn-primary">查找&nbsp;<span class="glyphicon glyphicon-search"></span></button>
		        </div><!-- /btn-group -->
		    </div>
		    </div>
			
		</div>
		</div>
	</div>
	<!--menu end-->
	<!--section begin-->
	{% autopaginate themeList 9 %}
	<div id="section">
		<!--content begin-->
		<div id="content">
			<div class="row">
		  		<div class="col-md-10 col-xs-12 col-md-offset-1 list-theme-items">
				    <!--内容 begin-->
				    <div class="row">
				    {% for theme in themeList %}
				    	<div class="col-md-4 col-xs-12">
					    	<div class="view-list-theme">
					    	<a class="link-to-theme" href="/theme/view/{{theme.pk}}">
						    		<div class="heading">
										<h4>{{ theme.m_name}}</h4>
									</div>
									<div class="description" data-toggle="tooltip" title="{{theme.description}}">
										&nbsp;&nbsp;{{theme.description| truncatehanzi:"60"}}
									</div>
						    		<!-- {{theme.m_scenes.all.0.m_snapshot}} -->
									<ul class="scene-list clearfix">
											{% for sc in theme.t2r_set.all|slice:":2" %}
											<li class="scene-item" data-id="{{sc.m_scn.pk}}">
												<img width="130px" height="80px" src="{{sc.m_scn.m_snapshot}}" />
											</li>
											{% endfor %}
									</ul>
								</a>
								</div>
							</div>
					{% endfor %}
				    </div>
				    </div>
				    </div>
				    <!--内容 end-->
		  		</div><!--content end-->
		  		{% paginate %}
		  	</div><!--section end-->
	<!-- 搜索表单 begin -->
	<form id="view_list_get_form" action="/theme/viewList/">
	    <input type="hidden" id="view_list_get_search" name="search" value="{{search}}" />
	    <input type="hidden" id="view_list_get_sort" name="sort" value="{{sort}}" />
	    <input type="hidden" id="view_list_get_page" name="page" value="{{page}}" />
	</form> 
	<!-- 搜索表单 end -->
</body>
<script src='{% static "js/jquery-2.1.0.js" %}'></script>
<script src='{% static "js/lib/bootstrap.js" %}'></script>
<script>
//开启boostrap tooltip功能
$(".description").tooltip();

$(function(){
	if({{sort}}==1){
		$("#theme_sort_drop").removeClass('active');
		$("#theme_sort_rise").addClass('active');
	}
	
	$("#theme_sort_drop").click(function(){
		$("#view_list_get_sort").val("-1");
		$("#view_list_get_form").submit();
	})

	$("#theme_sort_rise").click(function(){
		$("#view_list_get_sort").val("1");
		$("#view_list_get_form").submit();
	})

	$("#theme_button_search").click(function(){
		var kw = $("#theme_input_search").val();
		$("#view_list_get_search").val(kw);
		$("#view_list_get_form").submit();
	})
})

</script>