{% load static %}
{% load pagination_tags %}

<!DOCTYPE html>
<head>
	<meta charset='utf-8'>
	<title>DataInsight</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/view.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}">
</head>
<body>
	<!--menu begin-->
	<div id="header" class="row navbar navbar-default ">
		<div class="col-md-10 col-xs-12 col-md-offset-1">
			<div class="text-center">
				<span class="menu-home">DataInsight</span>
			</div>
		</div>
	</div>
	<!--menu end-->
	<!--section begin-->
	{% autopaginate themeList 6 %}
	<div id="section">
		<!--content begin-->
		<div id="content">
			<div class="row">
		  		<div class="col-md-10 col-xs-12 col-md-offset-1">
				    <!--搜索栏 begin-->
				    <div class="view-list-search clearfix">
				    	<div class="col-md-1 col-xs-12">
				    		<span class="view-list-sort">&nbsp;时间排序&nbsp;
				    		{% if sort == "-1" %}
				    			<i class="glyphicon glyphicon-arrow-down "></i>
				    		{% else %}
				    			<i class="glyphicon glyphicon-arrow-up "></i>
				    		{% endif %}
				    		&nbsp;
				    		</span>
				    	</div>
				    	<div class="col-md-1 col-xs-12 col-md-offset-10">
				    		<span>共有<b>{{allCount}}</b>个主题</span>
				    	</div>
				    </div>
				    <!--搜索栏 end-->
				    <!--内容 begin-->
				    <div class="row">
				    {% for theme in themeList %}
				    	<div class="col-md-6 col-xs-12">
					    	<div class="view-list-theme">
					    		{{theme.m_name}}
					    	</div>
				    	</div>
				    {% endfor %}
				    {% paginate %}
				    </div>
				    <!--内容 end-->
		  		</div>
		  	</div>
		</div>
		<!--content end-->
	</div>
	<!--section end-->
	<!-- 搜索表单 begin -->
	<form id="view_list_get_form">
	    <input type="hidden" id="view_list_get_search" name="search" value="{{search}}" />
	    <input type="hidden" id="view_list_get_sort" name="sort" value="{{sort}}" />
	    <input type="hidden" id="view_list_get_page" name="page" value="{{page}}" />
	</form> 
	<!-- 搜索表单 end -->
</body>

<script src='{% static "js/jquery-2.1.0.js" %}'></script>
<script src='{% static "js/lib/bootstrap.js" %}'></script>
<script src='{% static "js/view.js" %}'></script>