{% load static %}

<!DOCTYPE html>
<head>
	<meta charset='utf-8'>
	<title>DataInsight</title>
	 {% include 'head.html' %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/view.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/theme/view.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.gridster.css' %}">
</head>
<body>
	<!--menu begin-->
	<div id="header" class="row navbar navbar-default ">
		<div class="col-md-12 col-xs-12">
			<div class="text-center">
				<span class="menu-home">{{theme.m_name}}主题</span>
				<a href="/theme/viewList" class="btn btn-mine pull-right">返回列表</a>
			</div>
			
		</div>
	</div>
	<div id="necker" class="clearfix">
		<div class="row">
		<div class="col-md-12 col-xs-12" style="padding-left:37px">
		<div class="show-pattern btn-group">
			 <a href="/theme/view/{{theme.pk}}?pattern=1" class="btn btn-md active"><i class="glyphicon glyphicon-th"></i>&nbsp;&nbsp;普通模式</a>
			 <a href="/theme/view/{{theme.pk}}?pattern=2" class="btn btn-md"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;&nbsp;列表模式</a>
		</div>
		
		<div class="pull-right play-pattern">
		<!-- onclick="window.open('/theme/view/{{theme.pk}}?pattern=3', 'big', ' left=0,top=0,width='+ (screen.availWidth - 10) +',height='+ (screen.availHeight-50) +',scrollbars,resizable=yes,toolbar=no' )"-->
			<a href="/theme/view/{{theme.pk}}?pattern=3" class="btn">全屏查看</a>
		</div>
		</div>
		</div>
	</div>
	<!--menu end-->
	<div id="contianer">
    <div class="row">
    <div class="col-md-2">
    	<ul class="scene-list-thumbnail">
    	{% for ral in theme.t2r_set.all|dictsort:"m_order" %}
    		<li>
    			<a class="thumbnail" id="{{ral.m_scn.pk}}" href="#" data-slideindex="{{forloop.counter}}"><img src="{{ral.m_scn.m_snapshot}}"/></a>
    			<p style="text-align: center">{{ral.m_scn.m_name}}</p>
    		</li>
    	{% endfor %}
    	</ul>
    </div>
    <div class="col-md-10">
    <div class="loading" id="loading" style="left: 48%;top: 41%;position: absolute;"></div>
		<div id="box" class="">
			 {% for rla in theme_scene_rla.all|dictsort:"m_order" %}
		    	<div class="step" id="scene_{{rla.m_scn.pk}}">
		    		<div class="gridster">
		    			<ul id="scId_{{rla.m_scn.id}}" class="scene-to-widget" data-id="{{rla.m_scn.pk}}" data-layout="{{rla.m_scn.m_layout}}" data-src="{{rla.m_scn.m_snapshot}}" >
		    				{% for sc_wi_ral in rla.m_scn.s2r_set.all %}
								<li class="se_wi_{{sc_wi_ral.m_wi.pk}}_{{sc_wi_ral.m_stamp}}" data-id="{{sc_wi_ral.m_wi.pk}}" data-stamp="{{sc_wi_ral.m_stamp}}">
									<div class="se_wi_div se_wi_div_{{sc_wi_ral.m_wi.pk}}"></div>
								</li>
							{% endfor %}
		    			</ul>
		    		</div>
		    	</div>
			{% endfor %}
		</div>
	</div>
	</div>
	
	<!-- 全屏显示模态框 -->
	<div class="modal" tabindex="-1" role="dialog" id="fullsreen-show" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" style="height: 100%;width:100%">
	    <div class="modal-content" style="height: 100%;background-color: transparent">
	      <div id="container" style="height: 100%">
	      	<button type="button" style="margin-right: -18px;" class="close" data-dismiss="modal">
	      		<span aria-hidden="true" style="font-size: 27px;">&times;</span><span class="sr-only">Close</span>
	      	</button>
		    <div id="ipresenter">
			</div>
			<div class="loading" id="fullsreen-loading" style="left: 48%;top: 41%;position: absolute;"></div>
		  </div>
	    </div>
	  </div>
	</div>
	<!-- 此处是为了让design.js能够获取查看的主题的所有场景信息和组件信息而设的隐藏dom
	<div style="display:none" id="theme_scences">
		<ul>
		{% for rla in theme_scene_rla.all|dictsort:"m_order" %}
			<li data-id="{{rla.m_scn.pk}}" data-layout="{{rla.m_scn.m_layout}}" data-src="{{rla.m_scn.m_snapshot}}">
			<div class="scence_wigets">
				<ul id="scId_{{rla.m_scn.pk}}">
					{% for sc_wi_ral in rla.m_scn.s2r_set.all %}
						<li data-id="{{sc_wi_ral.m_wi.pk}}" data-stamp="{{sc_wi_ral.m_stamp}}"></li>
					{% endfor %}
				</ul>
			</div>
			</li>
		{% endfor %}
		</ul>
	</div> -->
	</div>
</body>
<script src='{% static "js/lib/bootstrap.js" %}'></script>
<script src="{% static 'js/theme/ipresenter.js' %}"></script>
<script>
window.onload = function(){
	requirejs(['theme/view'], function(xx,xxx){
		$("#loading").hide();
	})
	
	$("#fullSreen").click(function(){
		$("#fullsreen-show").modal("show");
		if(!$(this).data("on")){
			requirejs(['theme/full_view'], function(xx){
				$("#fullsreen-loading").hide();
				$('#ipresenter').iPresenter({
					timerPadding: -1,
					controlNav: false,
					autoPlay: false,
					controlNavThumbs: true,
					controlNavNextPrev: false,
				});
				//下面两个语句等同于手动打开iPresenter,必须的
				$(".ipresenter_stepsNav").show();
				$(".step").show();
			})
			$(this).data("on", true);
		}
	})
}
</script>