{% load static %}

<!DOCTYPE html>
<head>
	<meta charset='utf-8'>
	<title>DataInsight</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.gridster.css' %}">
    {% include 'head.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/scene/design.css' %}">
</head>
<body>
	<!--LOGO begin-->
	<div id="header">DataInsight</div>
	<!--LOGO end-->

	<!--section begin-->
	<div id="section">
		<!--menu begin-->
		<div id="menu">
			<nav class="navbar navbar-default" role="navigation">
		       	<div class="navbar-header">
				    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				      <span class="sr-only">DataInsight</span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				    </button>
				    <a class="menu-home navbar-brand" href="#">DataInsight</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				    <ul class="nav navbar-nav menu-ul" >
				      	<li><a href="/widget">组件</a></li>
						<li class="active"><a href="/scene">场景</a></li>
						<li><a href="/theme">主题</a></li>
						<li><a href="#">个人信息</a></li>
				    </ul>
				</div>
			</nav>
		</div>
		<!--menu end-->
    </div>


    <!--content begin-->
		<div id="content">
			<div class="row">
		  		<div id="scene_design_left" class="content-left col-md-2 col-lg-2">
		  			<div id="choosed_chart" class="panel panel-default">
					    <div class="panel-heading">组件</div>
					    <ul id="all_widgets">
					    	{% for widget in allowed_widgets %}
				            <li class="scene_list_widget" id="wi_{{ widget.pk }}" data-id={{ widget.pk }} title="{{ widget.m_name }}"><i class="glyphicon glyphicon-stats"></i>&nbsp;{{ widget.m_name }}</li>
				            {% endfor %}
					    </ul>
					    <div class="choosed_chart_extra"><span>文字</span><span>图片</span></div>
					</div>

					<div id="choosed_layout" class="panel panel-default">
					    <div class="panel-heading">层次关系</div>
					    <ul id="scene_widgets">
					    </ul>

                        <!-- 为上面层次关系渲染提供数据，自己隐藏 -->
					    <ul style="display:none">
					    	{% for rla in sw_rla_set %}
                            <li class="widget_chosen_template" id="wi_{{ rla.m_wi.pk }}_{{ rla.m_stamp }}" data-id="{{ rla.m_wi.pk }}" data-time="{{ rla.m_stamp }}" title="{{ rla.m_wi.m_name }}"></li>
                            {% endfor %}	
					    </ul>
					</div>
					<div id="choosed_dashboard" class="panel panel-default">
					    <div class="panel-heading">场景属性</div>
					    <ul>
                            {% if scene.m_name %}
                            <li>名称：<input id="scene_name" type="text" value="{{ scene.m_name }}" /></li>
                            {% else %}
					    	<li>名称：<input id="scene_name" type="text" value="场景" /></li>
                            {% endif %}
					    </ul>
					</div>
					
		  		 </div>
		  		 <div class="show-msg" style="font-weight: bold;">保存成功</div>
		  		 <!--场景设计区域content begin-->
		  		<div id="scene_design_right" class="content-right col-md-10 col-lg-10">
		  			<div class="toolbar">
					    <button id="save_scene" type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-floppy-save"></span>&nbsp;保存</button>
					    <button id="save_scene_back" type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-save"></span>&nbsp;保存并返回</button>
					    <button type="button" id="scene_design_back" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;返回</button>
					    <button id="scene_design_ico_plus" type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus"> </span>&nbsp;放大</button>
					    <button id="scene_design_ico_minus" type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-minus"> </span>&nbsp;缩小</button>
					    <input type="button"  class="btn btn-sm btn-default" onclick="sertest()" value="序列化保存测试" />
					    <input type="button" class="btn btn-sm btn-default" onclick="outtest()" value="还原测试" />
					    <input type="button" class="btn btn-sm btn-default" onclick="openEditorModal()" value="插入富文本" />
				    </div>
					<div class="gridster">
					    <ul>
					    </ul>
                        <!-- 存layout数据，不显示 -->
                        <p class="layout" style="display:none">{{ scene.m_layout }}</p>
					</div>
		  		</div>
		  		<!--场景设计区域content end-->
		  	</div>
		</div>
		<!--content end-->
        <div id="scn_data" style="display:none;" scene-id="{{ scene.pk }}">
            {{ scn_skin }}
        </div>

        <!--模态框-->
        <div class="modal fade" id="editorModal" role="dialog" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title">富文本编辑框</h4>
		      </div>
		      <div class="modal-body">
		       		<textarea cols="80" id="sceneEditor" name="sceneEditor" rows="10"></textarea>
		      </div>
		      <div class="modal-footer">
		      	<button type="button" onclick="editorModalOk()" class="btn btn-primary">确定</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
</body>

<script src='{% static "js/lib/bootstrap.js" %}'></script>
<script src='{% static "js/scene/design.js" %}'></script>
<script src='{% static "js/lib/jquery.gridster.js" %}'></script>
<script src='{% static "js/common/tools.js" %}'></script>
<script src='{% static "ckeditor/ckeditor.js" %}'></script>
<script>window.scene_id = '{{ scene.id }}'</script>
<script>
	CKEDITOR.replace( 'sceneEditor' );
</script>
