{% extends "base/list.html" %}

{# 导航栏 #}
{% block menu %}
	<li><a href="/widget">组件</a></li>
	<li class="active"><a href="/scene">场景</a></li>
	<li><a href="/theme">主题</a></li>
	<li><a href="#">个人信息</a></li>
{% endblock %}

{# 左栏目 #}
{% block contentLeft %}
<div class="panel panel-default">
	<div class="panel-heading">场景列表</div>
</div>
{% endblock %}

{# 右栏目 #}
{% block contentRight %}
<div class="content-menu clearfix">
    <div class="btn-group" data-toggle="buttons">
	  <label class="btn btn-default active">
	    <input type="radio" name="options" id="option1">时间升序
	    &nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-down"></span>
	  </label>
	  <label class="btn btn-default">
	    <input type="radio" name="options" id="option2">时间降序
	    &nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-up"></span>
	  </label>
	</div>
	<button type="button" id="button_new_scene" class="btn btn-primary">新建
	&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></button>
	<button type="button" class="btn btn-default">删除&nbsp;&nbsp;<span class="glyphicon glyphicon-remove"></span></button>
	<div class="" style="width: 365px;float: right;">
	    <div class="input-group">
	        <input type="text" id="widget_input_search" value="{{search}}" name="search" placeholder="请输入搜索内容" class="form-control"/>
	        <div class="input-group-btn">
	          <button id="widget_button_search" type="button" class="btn btn-default">查找&nbsp;<span class="glyphicon glyphicon-search"></span></button>
	        </div><!-- /btn-group -->
	    </div>
    </div>
</div>
<div class="tab-pane fade active in element-list" id="scene_list">
	<div class="element-list-div"><div></div><p>场景1</p></div>
	<div class="element-list-div"><div></div><p>场景1</p></div>
	<div class="element-list-div"><div></div><p>场景1</p></div>
	<div class="element-list-div"><div></div><p>场景1</p></div>
	<div class="element-list-div"><div></div><p>场景1</p></div>
	<div class="element-list-div"><div></div><p>场景1</p></div>
	<div class="element-list-div"><div></div><p>场景1</p></div>
	<div class="element-list-div"><div></div><p>场景1</p></div>
	<div class="element-list-div"><div></div><p>场景1</p></div>
	<div class="element-list-div"><div></div><p>场景1</p></div>
	<div class="element-list-div"><div></div><p>场景1</p></div>
	<div class="element-list-div"><div></div><p>场景1</p></div>
	<div class="element-list-div"><div></div><p>场景1</p></div>
</div>
{% endblock %}