{% load static %}
{% load pagination_tags %}

<!DOCTYPE html>
<head>
	<meta charset='utf-8'>
	<title>DataInsight</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/view.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/scene/view.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}">
</head>
<body>
	<!--menu begin-->
	<div id="header" class="row navbar navbar-default ">
		<div class="col-md-10 col-xs-12 col-md-offset-1">
			<div class="text-center">
				<span class="menu-home">场景列表</span>
			</div>
		</div>
	</div>
	<div id="necker" class="clearfix">
		<div class="row">
		<div class="col-md-10 col-xs-12 col-md-offset-1 ">
			<div class="show-pattern btn-group">
				<div class="btn-group" data-toggle="buttons">
					  <label class="btn active" id="scene_sort_drop">
					    <input type="radio" name="scene_input_sort" >时间降序&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-down"></span>
					  </label>
					  <label class="btn" id="scene_sort_rise">
					    <input type="radio" name="scene_input_sort" >时间升序&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-up"></span>
					  </label>
				</div>
			 	<!-- <a href="/viewList?pattern=1" class="btn btn-md active"><i class="glyphicon glyphicon-th"></i>&nbsp;&nbsp;普通模式</a>
			 	<a href="/viewList?pattern=1" class="btn btn-md"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;&nbsp;列表模式</a> -->
			</div>
			<div class="pull-right search-form">
			    <div class="" style="width: 365px;">
			    <div class="input-group">
			        <input type="text" id="scene_input_search" value="{{search}}" name="search" placeholder="请输入搜索内容" class="form-control"/>
			        <div class="input-group-btn">
			          <button id="scene_button_search" type="button" class="btn btn-primary">查找&nbsp;<span class="glyphicon glyphicon-search"></span></button>
			        </div><!-- /btn-group -->
			    </div>
			    </div>
			 </div>
		</div>
		</div>
	</div>
	<!--menu end-->
	<!--section begin-->
	{% autopaginate sceneList 10 %}
	<div id="section">
		<!--content begin-->
		<div id="content">
			<div class="row">
		  		<div class="col-md-10 col-xs-12 col-md-offset-1 list-scene-items">
				    <!--内容 begin-->
				    <div class="row">
				    {% for scence in sceneList %}
				    	<div class="col-md-6 col-xs-12">
					    	<div class="view-list-scene">
					    		<div class="heading">
									<i class="glyphicon glyphicon-align-justify"></i>
									<span>{{ scence.m_name }}</span>
									<span class="pull-right glyphicon {% if scene.m_is_distributed %}glyphicon-folder-open{%else%}glyphicon-folder-close{% endif %}"></span>
								</div>
					    		<a href="{% url 'scene:view' scence.pk %}">
					    		<!-- {{theme.m_scenes.all.0.m_snapshot}} -->
					    		<div class="scene-item"> 
									<img src="{{scence.m_snapshot}}" width="547" height="240"  />
								</div>
							</a>
					    	</div>
				    	</div>
				    	<!-- <div class="col-md-1"></div> -->
				    {% endfor %}
				    {% paginate %}
				    </div>
				    <!--内容 end-->
		  		</div>
		  	</div>
		</div>
		<!--content end-->
	</div>
	<!--section end-->
	<!-- 搜索表单 begin -->
	<form id="view_list_get_form" action="/scene/viewlist/">
	    <input type="hidden" id="view_list_get_search" name="search" value="{{search}}" />
	    <input type="hidden" id="view_list_get_sort" name="sort" value="{{sort}}" />
	    <input type="hidden" id="view_list_get_page" name="page" value="{{page}}" />
	</form> 
	<!-- 搜索表单 end -->
</body>
<script src='{% static "js/jquery-2.1.0.js" %}'></script>
<script src="{% static 'js/theme/box-slider.jquery.js' %}"></script>
<script src="{% static 'js/theme/effects/box-slider-fx-scroll-3d.js' %}"></script>
<script src="{% static 'js/theme/effects/box-slider-fx-fade.js' %}"></script>
<script src="{% static 'js/theme/effects/box-slider-fx-scroll.js' %}"></script>
<script src="{% static 'js/theme/effects/box-slider-fx-blinds.js' %}"></script>
<script src="{% static 'js/theme/effects/box-slider-fx-carousel-3d.js' %}"></script>
<script src="{% static 'js/theme/effects/box-slider-fx-tile-3d.js' %}"></script>
<script>
$(function(){
	if({{sort}}==1){
		$("#scene_sort_drop").removeClass('active');
		$("#scene_sort_rise").addClass('active');
	}
	
	$("#scene_sort_drop").click(function(){
		$("#view_list_get_sort").val("-1");
		$("#view_list_get_form").submit();
	})

	$("#scene_sort_rise").click(function(){
		$("#view_list_get_sort").val("1");
		$("#view_list_get_form").submit();
	})

	$("#scene_button_search").click(function(){
		var kw = $("#scene_input_search").val();
		$("#view_list_get_search").val(kw);
		$("#view_list_get_form").submit();
	})
})

</script>