{% load static %}

<!DOCTYPE html>
<head>
	<meta charset='utf-8'>
	<title>{{scene.m_name}}</title>
	{% include 'head.html' %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.gridster.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/view.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/scene/view.css' %}">
</head>
<body>
	<div class="row">
		<div id="scenceView" class="col-md-12 col-xs-12" data-src="{{scene.m_snapshot}}" data-layout="{{scene.m_layout}}">
		<div class="loading" style="left: 48%;top: 41%;position: absolute;"></div>
		<div class="gridster">
			<ul id="scenceWidget">
				{% for ral in scene.s2r_set.all %}
					<li class="se_wi_{{ral.m_wi.pk}}_{{ral.m_stamp}}" data-id="{{ral.m_wi.pk}}" data-stamp="{{ral.m_stamp}}">
						<div class="se_wi_div se_wi_div_{{ral.m_wi.pk}}"></div>
					</li>
				{% endfor %}
			</ul>
		</div>
		</div>
	</div>
	<!--隐藏元素，以便view.js获取该场景下组件的信息-->
	<!-- <ul style="display:none" id="scenceWidget">
		{% for ral in scene.s2r_set.all %}
			<li data-id="{{ral.m_wi.pk}}" data-stamp="{{ral.m_stamp}}"></li>
		{% endfor %}
	</ul> -->
</body>
<script src='{% static "js/lib/jquery.gridster.js" %}'></script>
<script src='{% static "js/common/tools.js" %}'></script>
<script>
window.onload = function(){
	requirejs(['scene/view'], function(X){
		$(".loading").hide();
	})
}
</script>
