/*!
 * 组件设计页面专用CSS
 * Date: 2014-7-25
 */

body {
	font-family: \5FAE\8F6F\96C5\9ED1,Tohoma !important;
}

#logo {
	height: 25px;
	color: white;
	text-align: center;
	background-color: #776677;
	font-size: 15px;
	font-weight: bold;
	line-height: 25px;
}

#menu {
	background-color: #F0F0F0;
	width: 100%;
	-khtml-box-shadow: 0px 1px 1px #888888;
	-moz-box-shadow: 0px 1px 1px #888888;
	-ms-box-shadow: 0px 1px 1px #888888;
	-o-box-shadow: 0px 1px 1px #888888;
	box-shadow: 0px 1px 1px #888888;
	padding: 0;
}

#menu .menu-home {
	padding: 15px 50px !important;
}

#menu .menu-ul a {
	padding: 15px 30px;
}

#menu ul {
	list-style: none;
	margin-bottom: 0;
}

.row {
	margin-left:0;
	margin-right:0;
}

.navbar {
	margin-bottom: 0;
}

#data,
#area {
	padding: 0;
}

#operate_region {
	width: 100%;
	height: 40px;
	background: #E2E2E2;
}

#table_region {
	min-height:80px;
}

#field_region {
	min-height:135px;
}

#area {
}

#design_region {
	width: 100%;
	min-height: 80px;
	background: #B9B9B2;
}

#show_region {
	width: 100%;
	min-height: 100px;
	background: #B8B87F;
}

#switch_region {
	width: 100%;
	margin:0;
	height: 30px;
	background: #5F5F31;
}

#info {
	height: 15px;
	background: #FC8F8F;
}

.panel {
	margin-bottom: 0;
	border:none;
}

#table_template_content {
	min-height: 40px;
	margin: 0;
	list-style: none;
	overflow: auto;
	padding: 0px;
}

.table-item {
	padding:2px 0 2px 20px;
	cursor:default;
}

.table-item:hover {
	background: #F7F7F7;
	border-radius: 3px;
	box-shadow: 0px 0px 1px 0px #A7A4A4 inset;
}

.table-item-select {
	background: #F7F7F7;
	border-radius: 3px;
	box-shadow: 0px 0px 1px 0px #A7A4A4 inset;
}



#field_template_content {
	min-height: 60px;
	margin: 0;
	list-style: none;
	overflow: auto;
	padding: 0px;
}

.field-item {
	padding:2px 0 2px 20px;
	cursor:default;
}

.field-item:hover {
	background: #E4EFFF;
	border-radius: 3px;
	box-shadow: 0px 0px 1px 0px #A7A4A4 inset;
}

#table_template_header {
	position: relative;
}

#table_template_header span {
	position: absolute;
	right: 8px;
	top: 12px;
	cursor: pointer;
}

.dialog-new-table-content>div {
	float: left;
	border: 1px solid #CFC4C4;
	border-radius: 5px;
	margin: 60px 45px;
	color: #464343;
	padding: 20px;
	cursor: pointer;
}

.dialog-new-table-content>div:hover {
	box-shadow: 0 0 3px 1px #666666;
}

.dialog-new-table-contentt p {
	text-align: center;
}
