{% extends "base/list.html" %}
{% load pagination_tags %}

{# 导航栏 #}
{% block menu %}
	<li class="active"><a href="/widget">组件</a></li>
	<li><a href="/scene">场景</a></li>
	<li><a href="/theme">主题</a></li>
	<li><a href="#">个人信息</a></li>
{% endblock %}

{# 左栏目 #}
{% block contentLeft %}
<div class="panel panel-default">
	<div class="panel-heading"><span class="glyphicon glyphicon-th-list">&nbsp;</span>组件列表</div>
	<ul>
		{% for widget in widgetList %}
		<li class=""><a href="/widget/edit/{{widget.m_id}}"><img src="{{widget.m_pic}}" width="30px" height="30px" />{{widget.m_name}}</a></li>
		<!-- <li class="">{{request.path}}</li>
		<li class="">{{request.session.fav_color}}</li> -->
		{% endfor %}
	</ul>
</div>
{% endblock %}

{# 右栏目 #}
{% block contentRight %}
{% autopaginate widgetList 24 %}
<div class="content-menu clearfix">
    <div class="btn-group" data-toggle="buttons">
	  <label class="btn btn-default active" id="widget_sort_drop">
	    <input type="radio" name="widget_input_sort" >时间降序&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-down"></span>
	  </label>
	  <label class="btn btn-default" id="widget_sort_rise">
	    <input type="radio" name="widget_input_sort" >时间升序&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-up"></span>
	  </label>
	</div>
	<div class="pull-left">
		<button type="button" id="button_new_widget" class="btn btn-primary">新建&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span></button>
	    <button type="button" id="button_widget_batch" class="btn btn-default">批量管理&nbsp;&nbsp;<span class="glyphicon glyphicon-list"></span></button>
	    </div>
	<div class="pull-right">
	    <div class="" style="width: 365px;">
	    <div class="input-group">
	        <input type="text" id="widget_input_search" value="{{search}}" name="search" placeholder="请输入搜索内容" class="form-control"/>
	        <div class="input-group-btn">
	          <button id="widget_button_search" type="button" class="btn btn-default">查找&nbsp;<span class="glyphicon glyphicon-search"></span></button>
	        </div><!-- /btn-group -->
	    </div>
	    </div>
	 </div>
</div>
<div id="widget_count" class="clearfix">共&nbsp;<span>{{allCount}}</span>&nbsp;个组件，本页有
	&nbsp;<span>{{widgetList|length}}</span>&nbsp;个
	{% if search %}
    <button type="button" id="widget_list_back" class="btn pull-right btn-default"><span class="glyphicon glyphicon-arrow-left">&nbsp;</span>返回</button>
    {% endif %}
</div>
<div class="tab-pane fade active in element-list clearfix" id="widget_list">
	{% for widget in widgetList %}
	    <div class="element-list-div" style="{% if widget.m_is_distributed %}background-color: #F3B9B9;{% endif %}">
	    	<div class="element-list-widget" data-id="{{widget.pk}}">
	    		<a href="/widget/edit/{{widget.pk}}">
	    			<img src="{{widget.m_pic}}" width="130px" height="130px" />
	    		</a>
	    		<div class="js-mod-widget-top">
				    <span class="js-mod-widget-ico"><i class="icon-m icon-expansion-m"></i></span>
				    <div class="js-mod-widget-con">
				     	<ul>
						    <li>
						       <a href="/widget/edit/{{widget.pk}}"><i class="icon-m icon-edit-m"></i>编辑</a>
						    </li>
						    <li>
						    	{% if widget.m_is_distributed %}
						    		<a class="widget_operate" href="#"><i class="icon-m icon-cover-m"></i>取消发布</a>
								{% else %}
									<a class="widget_operate"  href="#"><i class="icon-m icon-cover-m"></i>发布</a>
								{% endif %}
						    </li>
						    <li>
						       <a class="widget_operate" data-op="delete" href="#"><i class="icon-m icon-rubbish-m"></i>删除</a>
						    </li>
				     	</ul>
				    </div>
				</div>
	    	</div>

	    	<span>{{ widget.m_name | truncatewords:3 }}</span>
	    </div>
	{% empty %}
		<div>没有符合条件的组件</div>
	{% endfor %}
</div>
{% paginate %}
{% endblock %}

{% block extraContent %}
{# 模态框 #}
<!-- 模态框 begin -->
<div class="modal fade" id="db_link_modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	    <div class="modal-dialog">
	     	<div class="modal-content">

		      <!--模态框header-->
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title">
		         连接数据
		        </h4>
		      </div>

		      <!--模态框body-->
		      <div class="modal-body">
		      <form id='conn_db_form' method='post' action='/indb/' enctype="multipart/form-data">
			      {% csrf_token %}
			      <div id="db_form_inner"></div>
			  </form>
			  <div id="modal_choose_db">
		     	 <div class="panel panel-default">
				  	<div class="panel-heading">连接到数据库</div>
				  	<div class="panel-body">
				   	 <ul id="list_link_dbs">
							<li class='db'><span class="glyphicon glyphicon-book" ></span>mysql</li>
							<li class='db'><span class="glyphicon glyphicon-book" ></span>postgres</li>
							<li class='db'><span class="glyphicon glyphicon-book" ></span>oracle</li>
							<li class='db'><span class="glyphicon glyphicon-book" ></span>mongodb</li>
				  		</ul>
				  	</div>
				</div>
				 <div class="panel panel-default">
				  	<div class="panel-heading">连接到历史数据源</div>
				  	<div class="panel-body">
					   	<ul id="list_histroy_dbs">
				  			<li ><a href="#"><span class="glyphicon glyphicon-tasks" ></span>Sample-CofeeChan</a></li>
				  			<li><a href="#"><span class="glyphicon glyphicon-tasks" ></span>Sample-CofeeChan</a></li>
				  			<li><a href="#"><span class="glyphicon glyphicon-tasks" ></span>Sample-CofeeChan</a></li>
				  			<li><a href="#"><span class="glyphicon glyphicon-tasks" ></span>Sample-CofeeChan</a></li>
				  			<li><a href="#"><span class="glyphicon glyphicon-tasks" ></span>Sample-CofeeChan</a></li>
				  		</ul>
				  	</div>
				</div>
			  </div>
		      </div>

		      <!--模态框footer-->
		      <div class="modal-footer">
		          <button type="button" class="list_link_db btn btn-primary">连接</button>
		          <button type="button" class="button_cancel_modal btn btn-default">取消</button>
		      </div>
    
	  		</div>
		</div>
</div>
<!-- 模态框 end -->
<!-- 搜索表单 begin -->
<form id="widget_search_form">
    <input type="hidden" id="widget_submit_search" name="search" value="{{search}}" />
    <input type="hidden" id="widget_submit_sort" name="sort" value="{{sort}}" />
    <input type="hidden" id="widget_submit_page" name="page" value="{{page}}" />
</form> 
<!-- 搜索表单 end -->
<!-- 提交表单 begin -->
<form id="widget_post_form" method="post">
	{% csrf_token %}
    <input type="hidden" id="widget_post_id" name="id" value="" />
    <input type="hidden" id="widget_post_search" name="search" value="{{search}}" />
    <input type="hidden" id="widget_post_sort" name="sort" value="{{sort}}" />
    <input type="hidden" id="widget_post_page" name="page" value="{{page}}" />
</form> 
<!-- 提交表单 end -->
<!-- 初始按钮 begin -->
<script>
window.onload = function (){
	if({{sort}}==1){
		$("#widget_sort_drop").removeClass('active');
		$("#widget_sort_rise").addClass('active');
	}
}
</script>
<!-- 初始按钮 end -->
{% endblock %}