{% load static %}

<!DOCTYPE html>
<head>
	<meta charset='utf-8'>
	<title>DataInsight</title>
	 {% include 'head.html' %}
</head>
<body>
	<!--menu begin-->
	<!--menu end-->
	<div id="container">
    <div class="loading" style="left: 48%;top: 41%;position: absolute;"></div>
    <div class="row">
		<div id="draw_panel" style="" data-content="{{content}}" class="col-md-12 col-xs-12">
		</div>
	</div>
	</div>
</body>
<style>
html,body,#container{
	height: 100%;
}
.row{
height: 85%
}
#draw_panel{
height: 100%;
}
</style>
<script>
window.onload = function(){
	requirejs(['widget/view'], function(xx){
		$(".loading").hide();
		var marginTop = (document.body.clientHeight - $("#draw_panel").outerHeight())/2;
		$("#draw_panel").css("margin-top", marginTop);
	})
}
</script>