{% load static %}

<!DOCTYPE html>
<head>
	<meta charset='utf-8'>
	<title>DataInsight</title>
	 {% include 'head.html' %}
</head>
<body>
	<!--menu begin-->
	<div id="" class="row navbar navbar-default ">
		<div class="col-md-10 col-xs-12 col-md-offset-1">
			<div class="text-center">
				<span class="menu-home">DataInsight</span>
			</div>
			
		</div>
	</div>
	<!--menu end-->
	<div id="contianer">
    <div class="slider-viewport">
    <div class="loading" style="left: 48%;top: 41%;position: absolute;"></div>
    <div class="row">
		<div class="col-md-1"></div>
		<div id="draw_panel" style="height:526px" data-content="{{content}}" class="col-md-10 col-xs-12">
		</div>
		<div class="col-md-1"></div>
	</div>
	</div>
</body>
<script>
window.onload = function(){
	requirejs(['widget/view'], function(xx){
		$(".loading").hide();
	})
}
</script>